@charset "UTF-8";
/*---!!ОБНУЛЕНИЕ!!---*/
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

html, body {
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
  -wedkit-box-sizing: border-box;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*------------------------------------------------------*/
body {
  font-family: "Outfit";
  min-width: 320px;
  min-height: 100vh;
  background: #09090A;
}

img {
  display: block;
}

svg {
  display: block;
}

a {
  font-family: "Outfit";
}

header {
  width: 100%;
  background: #04011C;
  -webkit-box-shadow: 0px 20px 40px rgba(205, 28, 104, 0.08);
          box-shadow: 0px 20px 40px rgba(205, 28, 104, 0.08);
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 0;
}
header .container {
  max-width: 1320px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .container .header__navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .container .header__navbar ul li {
  margin-right: 36px;
}
header .container .header__navbar ul li:last-child {
  margin-right: 0;
}
header .container .header__navbar ul li a {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF;
}
header .container .header__searchAndLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container .searchAndLink__search {
  margin-right: 20px;
}
header .container .searchAndLink__search input {
  background: #1E1B33;
  border: 1px solid rgba(231, 231, 231, 0.4);
  border-radius: 8px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
header .container .searchAndLink__search input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.59);
}
header .container .searchAndLink__search input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.59);
}
header .container .searchAndLink__search input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.59);
}
header .container .searchAndLink__search input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.59);
}
header .container .searchAndLink__search input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.59);
}
header .container .searchAndLink__link a {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: -o-linear-gradient(0.38deg, #0500FA 7.09%, #E01E5A 92.23%);
  background: linear-gradient(89.62deg, #0500FA 7.09%, #E01E5A 92.23%);
  border-radius: 8px;
  padding: 12px 20px;
}