@import "obnulenie.scss";
@import "fonts.scss";
@import "default.scss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

header {
	width: 100%;
	background: #04011C;
	box-shadow: 0px 20px 40px rgba(205, 28, 104, 0.08);
	position: fixed;
	top: 0;
	left: 0;
	padding: 20px 0;

	.container {
		max-width: 1320px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.header__navbar {

			ul {
				display: flex;

				li {
					margin-right: 36px;
					
					&:last-child {
						margin-right: 0;
					}

					a {
						font-weight: 400;
						font-size: 18px;
						line-height: 20px;
						color: #FFFFFF;
					}
				}
			}
		}

		.header__searchAndLink {
			display: flex;
			align-items: center;
		}

		.searchAndLink__search {
			margin-right: 20px;

			input {
				background: #1E1B33;
				border: 1px solid rgba(231, 231, 231, 0.4);
				border-radius: 8px;
				padding: 12px 16px;
				font-weight: 400;
				font-size: 16px;
				line-height: 20px;
				color: #FFFFFF;

				&::placeholder {
					font-weight: 400;
					font-size: 16px;
					line-height: 20px;
					color: rgba(255, 255, 255, 0.59);
				}
			}
		}

		.searchAndLink__link {

			a {
				font-weight: 500;
				font-size: 16px;
				line-height: 20px;
				color: #FFFFFF;
				background: linear-gradient(89.62deg, #0500FA 7.09%, #E01E5A 92.23%);
				border-radius: 8px;
				padding: 12px 20px;
			}
		}
	}
}











