@charset "UTF-8";
/*---!!ОБНУЛЕНИЕ!!---*/
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -wedkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*------------------------------------------------------*/
body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 400;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/* Слайдер */
.slick-slider {
  position: relative;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Стрелка */
.slick-arrow {
  font-size: 0;
  background: url("../img/sec-2/sec-2__arrowSlider.svg") center center no-repeat;
  width: 70px;
  height: 20px;
}

.slick-arrow {
  position: absolute;
  bottom: 0;
  z-index: 10;
  left: 0;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  left: 30px;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  left: 210px;
}

/* Точки (булиты) */
.slick-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 5px;
  left: 120px;
}

.slick-dots li {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  margin-right: 20px;
}
.slick-dots li:last-child {
  margin: 0;
}

/* Активная точка */
.slick-dots li.slick-active {
  background: rgb(255, 255, 255);
}

/* Элемент точки */
.slick-dots li button {
  font-size: 0;
}

.header {
  max-width: 100%;
  background: #131313;
  padding: 36px 0 36px 0;
}

.header__navContainer {
  max-width: 1290px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navContainer__logoContainer h1 {
  font-family: "Nunito Sans";
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: #E3B873;
}

.navContainer__listMenuContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navContainer__listMenuContainer li {
  margin-right: 48px;
}
.navContainer__listMenuContainer li:last-child {
  margin: 0;
}
.navContainer__listMenuContainer li a {
  font-family: "Nunito Sans";
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: 350ms;
  transition: 350ms;
}
.navContainer__listMenuContainer li a:hover {
  color: #E3B873;
}

.navContainer__telephoneContainer a {
  font-family: "Nunito Sans";
  font-size: 11px;
  line-height: 15px;
  text-decoration-line: underline;
  color: #E3B873;
}

.navContainer__buttonContainer a {
  font-family: "Nunito Sans";
  font-style: italic;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  padding: 12px 30px 10px 30px;
  -webkit-transition: 350ms;
  transition: 350ms;
}
.navContainer__buttonContainer a:hover {
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  border: 1px solid #E3B873;
}

.section-1 {
  padding: 0 30px;
  max-width: 100%;
  height: 91.9vh;
  background: url("../img/sec-1/sec-1__bg.png") center center/cover no-repeat;
}

.section-1__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 14.5% 0;
}

.section-1__textContainerS1 {
  max-width: 520px;
}

.textContainerS1__titleContainer {
  margin-bottom: 20px;
}
.textContainerS1__titleContainer h2 {
  font-family: "Yeseva One";
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.textContainerS1__titleContainer h2 span {
  color: #E3B873;
}

.textContainerS1__descriptionContainer {
  margin-bottom: 60px;
}
.textContainerS1__descriptionContainer p {
  font-family: "Nunito Sans";
  font-size: 22px;
  line-height: 36px;
  color: #FFFFFF;
}

.section-1__buttonsContainer a {
  font-family: "Nunito Sans";
  font-style: italic;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  margin-right: 20px;
  -webkit-transition: 350ms;
  transition: 350ms;
}
.section-1__buttonsContainer a:hover {
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border-radius: 2px;
  border: 1px solid #E3B873;
}
.section-1__buttonsContainer a:nth-child(1) {
  padding: 19px 40px 19px 40px;
}
.section-1__buttonsContainer a:nth-child(2) {
  padding: 19px 25px 19px 25px;
  margin: 0;
}

.section-2 {
  max-width: 100%;
  height: 90vh;
  background: #131313;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-2__container {
  max-width: 1200px;
  padding: 0 30px;
}

.section-2__titlePlaceContainer {
  max-width: 625px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  margin-bottom: 45px;
  margin-right: 60px;
}

.titlePlaceContainer__title {
  font-family: "Yeseva One";
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
  margin-right: 60px;
}
.titlePlaceContainer__title:last-child {
  margin: 0;
}
.titlePlaceContainer__title .active {
  color: #E3B873;
  border-bottom: 1px solid #E3B873;
}

.section-2__sliderContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  clear: right;
  position: relative;
}

.sliderContainer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
}

.item__infContainer {
  margin-right: 50px;
}

.infContainer__titleContainer {
  margin-bottom: 35px;
}
.infContainer__titleContainer h3 {
  font-family: "Yeseva One";
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #E3B873;
}

.infContainer__descriptionContainer {
  margin-bottom: 35px;
}
.infContainer__descriptionContainer p {
  font-family: "Nunito Sans";
  font-size: 14px;
  line-height: 27px;
  color: #FFFFFF;
}

.infContainer__aboutProjectInformationContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
}
.infContainer__aboutProjectInformationContainer h4 {
  font-family: "Yeseva One";
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #E3B873;
  margin-bottom: 10px;
}
.infContainer__aboutProjectInformationContainer p {
  font-family: "Nunito Sans";
  font-size: 13px;
  line-height: 21px;
  color: #FFFFFF;
}

.section-3 {
  max-width: 100%;
  background: #FFFFFF;
  padding: 0 0 100px 0;
}

.section-3__container {
  max-width: 100%;
  background: #131313;
}

.section-3__secondContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-3__titleCotnainer {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.section-3__titleCotnainer h3 {
  font-family: "Yeseva One";
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.section-3__titleCotnainer img {
  width: 32px;
  margin: 0 auto;
}
.section-3__titleCotnainer::after {
  content: "";
  width: 32px;
  height: 1px;
  position: absolute;
  background-color: #E3B873;
  bottom: 12px;
  right: 30px;
  border-radius: 30px;
}
.section-3__titleCotnainer::before {
  content: "";
  width: 32px;
  height: 1px;
  position: absolute;
  background-color: #E3B873;
  bottom: 12px;
  left: 25px;
  border-radius: 30px;
}

.section-3__videoContainer {
  position: relative;
  margin-bottom: -18.5%;
}
.section-3__videoContainer #video {
  -webkit-transition: 290ms;
  transition: 290ms;
}
.section-3__videoContainer #video:hover {
  -webkit-filter: brightness(15%);
          filter: brightness(15%);
}
.section-3__videoContainer #play {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.section-3__videoContainer.active #play {
  display: block;
}

.section-3__containerInforamations {
  margin-top: 280px;
}

.section-3__description {
  max-width: 680px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 37px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 93px;
  position: relative;
}
.section-3__description::after {
  content: "";
  width: 55px;
  height: 1.5px;
  position: absolute;
  background-color: #E3B873;
  top: -30px;
  left: 300px;
  border-radius: 30px;
}

.formContainer__competition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 39px;
}

.group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 50px;
  width: 231px;
}
.group label {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: rgba(54, 54, 54, 0.5);
  margin-bottom: 7px;
}
.group input {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #363636;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.formContainer__button {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 2px solid #E3B873;
  background-color: #E3B873;
  -webkit-box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
          box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
  border-radius: 2px;
  padding: 10px 75px;
}
.formContainer__button:hover {
  color: #E3B873;
  background-color: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.formContainer__checkboxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.formContainer__checkboxContainer p {
  font-family: "Nunito Sans";
  font-size: 14px;
  line-height: 163.68%;
  color: #181818;
}

.checkboxContainer__inputContainer {
  margin-right: 15px;
}
.checkboxContainer__inputContainer .checkbox {
  width: 18px;
  height: 18px;
  position: relative;
}
.checkboxContainer__inputContainer .checkbox:checked::before {
  content: "";
  background: #E3B873;
  width: 18px;
  height: 18px;
  position: absolute;
  border-radius: 1px;
}
.checkboxContainer__inputContainer .checkbox:checked::after {
  content: url("../img/sec-3/sec-3__check.svg");
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section-4 {
  max-width: 100%;
  padding: 150px 0 220px 0;
}

.section-4__container {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-4__titleContainer {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.section-4__titleContainer h3 {
  font-family: "Yeseva One";
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
  margin-bottom: 15px;
}
.section-4__titleContainer img {
  width: 32px;
  margin: 0 auto;
}
.section-4__titleContainer::after {
  content: "";
  width: 32px;
  height: 1px;
  position: absolute;
  background-color: #E3B873;
  bottom: 12px;
  right: 25px;
  border-radius: 30px;
}
.section-4__titleContainer::before {
  content: "";
  width: 32px;
  height: 1px;
  position: absolute;
  background-color: #E3B873;
  bottom: 12px;
  left: 25px;
  border-radius: 30px;
}

.section-4__typesContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 30px;
}

.typesContainer__itemTypesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.itemTypesContainer__informationsContainer {
  width: 330px;
  margin: 0 auto;
  padding-bottom: 15px;
  background: #fff;
  margin-top: -140px;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.informationsContainer__descriptionsContainer {
  padding: 25px 30px;
}

.descriptionsContainer__title {
  font-family: "Yeseva One";
  font-size: 18px;
  line-height: 25px;
  color: #363636;
  margin-bottom: 15px;
}

.descriptionsContainer__list {
  margin-bottom: 15px;
}
.descriptionsContainer__list li {
  font-family: "Nunito Sans";
  font-size: 13px;
  line-height: 27px;
  color: #959595;
  position: relative;
  padding-left: 12px;
}
.descriptionsContainer__list li::before {
  content: "";
  position: absolute;
  background: #959595;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  left: 0;
  top: 10px;
}

.informationsContainer__buttonContainer a {
  padding: 17px;
  font-family: "Yeseva One";
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #E3B873;
  -webkit-box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
          box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}

.section-5 {
  max-width: 100%;
  padding-bottom: 150px;
  background-color: #FFFFFF;
  background: url("../img/sec-5/sec-5__bg.svg") 0 -110px/750px no-repeat;
}

.section-5__container {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.prioritiesContainer__list {
  width: 500px;
}
.prioritiesContainer__list li {
  font-family: "Nunito Sans";
  font-size: 14px;
  line-height: 19px;
  color: #363636;
  margin-bottom: 115px;
  position: relative;
  padding-left: 70px;
}
.prioritiesContainer__list li:last-child {
  margin-bottom: 0;
}
.prioritiesContainer__list li:nth-child(1)::before {
  content: url("../img/sec-5/sec-5__list1.svg");
  position: absolute;
  left: 0;
  top: -7px;
}
.prioritiesContainer__list li:nth-child(2)::before {
  content: url("../img/sec-5/sec-5__list2.svg");
  position: absolute;
  left: 0;
  top: -15px;
}
.prioritiesContainer__list li:nth-child(3)::before {
  content: url("../img/sec-5/sec-5__list3.svg");
  position: absolute;
  left: 0;
  top: -15px;
}
.prioritiesContainer__list li:nth-child(4)::before {
  content: url("../img/sec-5/sec-5__list4.svg");
  position: absolute;
  left: 0;
  top: -15px;
}

.formAndDescriptionContainer__leaveRequestFormContainer {
  width: 510px;
  padding: 30px 50px 80px 50px;
  background: #131313;
  -webkit-box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
  margin-bottom: 40px;
}
.formAndDescriptionContainer__leaveRequestFormContainer h3 {
  font-family: "Nunito Sans";
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  text-align: center;
  width: 300px;
  margin: 0 auto 40px auto;
}

.leaveRequestFormContainer__inputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}
.leaveRequestFormContainer__inputContainer:last-child {
  margin-bottom: 0;
}
.leaveRequestFormContainer__inputContainer label {
  font-family: "Nunito Sans";
  font-size: 13px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 7px;
}
.leaveRequestFormContainer__inputContainer input {
  background: rgba(0, 0, 0, 0);
  font-family: "Nunito Sans";
  font-size: 14px;
  line-height: 23px;
  color: #FFFFFF;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}
.leaveRequestFormContainer__inputContainer input::-webkit-input-placeholder {
  color: #FFFFFF;
}
.leaveRequestFormContainer__inputContainer input::-moz-placeholder {
  color: #FFFFFF;
}
.leaveRequestFormContainer__inputContainer input:-ms-input-placeholder {
  color: #FFFFFF;
}
.leaveRequestFormContainer__inputContainer input::-ms-input-placeholder {
  color: #FFFFFF;
}
.leaveRequestFormContainer__inputContainer input::placeholder {
  color: #FFFFFF;
}

.leaveRequestFormContainer__checkboxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -35px;
  margin-bottom: 40px;
}
.leaveRequestFormContainer__checkboxContainer p {
  font-family: "Nunito Sans";
  font-size: 14px;
  line-height: 163.68%;
  color: #FFFFFF;
}

.leaveRequestFormContainer__button {
  font-family: "Nunito Sans";
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 14px 25px 14px 25px;
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
  float: right;
}

.formAndDescriptionContainer__descriptionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.formAndDescriptionContainer__descriptionContainer p {
  margin-top: -15px;
  font-family: "Nunito Sans";
  font-size: 18px;
  line-height: 26px;
  color: #E3B873;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

.section-6 {
  max-width: 100%;
  margin-bottom: 90px;
  background: url("../img/sec-6/sec-6__bg.png") center center/100% 800px no-repeat;
}

.section-6__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menuContainer__title {
  font-family: "Yeseva One";
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #E3B873;
  margin-bottom: 50px;
  width: 300px;
}

.menuContainer__listContainer li {
  margin-bottom: 25px;
}
.menuContainer__listContainer li:last-child {
  margin-bottom: 0;
}
.menuContainer__listContainer li a {
  font-family: "Nunito Sans";
  font-size: 20px;
  color: #FFFFFF;
  -webkit-transition: 350ms;
  transition: 350ms;
}
.menuContainer__listContainer li a:hover {
  color: #E3B873;
  border-bottom: 1px solid #E3B873;
}

.section-6__galleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-6__galleryContainer .galleryContainer__upScroll {
  margin-top: -100px;
}

.galleryContainer__item {
  margin: 40px 20px;
}

.section-7 {
  max-width: 100%;
  background: url("../img/sec-7/sec-7__bg.png") bottom repeat-x;
}

.section-7__container {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-7__titleContainer {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.section-7__titleContainer h3 {
  font-family: "Yeseva One";
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
  margin-bottom: 15px;
}
.section-7__titleContainer img {
  width: 32px;
  margin: 0 auto;
}
.section-7__titleContainer::after {
  content: "";
  width: 32px;
  height: 1px;
  position: absolute;
  background-color: #E3B873;
  bottom: 12px;
  right: 10px;
  border-radius: 30px;
}
.section-7__titleContainer::before {
  content: "";
  width: 32px;
  height: 1px;
  position: absolute;
  background-color: #E3B873;
  bottom: 12px;
  left: 10px;
  border-radius: 30px;
}

.section-7__description {
  font-family: "Nunito Sans";
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  color: #363636;
  margin-bottom: 39px;
}

.section-7__administratorsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.administratorsItem__textContainer {
  padding: 30px;
}

.administratorsContainer__administratorsItem {
  max-width: 370px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}
.administratorsContainer__administratorsItem:last-child {
  margin-right: 0;
}

.administratorsItem__titleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.administratorsItem__titleContainer img {
  border-radius: 50%;
  margin-right: 25px;
}
.administratorsItem__titleContainer h3 {
  font-family: "Yeseva One";
  font-size: 18px;
  line-height: 23px;
  color: #181818;
}

.administratorsItem__descriptionsContainer p {
  font-family: "Nunito Sans";
  font-size: 13px;
  line-height: 180%;
  color: #959595;
  margin-bottom: 15px;
}
.administratorsItem__descriptionsContainer p:last-child {
  margin: 0;
}

.administratorsItem__informationsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.administratorsItem__informationsContainer p {
  font-family: "Yeseva One";
  font-size: 17px;
  color: #FFFFFF;
  padding: 14px 17px;
  background: #E3B873;
  -webkit-box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
          box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.administratorsItem__informationsContainer p:first-child {
  border-right: 1px solid #FFFFFF;
}
.administratorsItem__informationsContainer p img {
  margin-right: 15px;
}

.section-7__administratorsContainer {
  margin-bottom: 140px;
}

.section-7__formContainer {
  background-color: #131313;
  width: 885px;
  margin: 0 auto -240px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.formContainer__title {
  font-family: "Yeseva One";
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 45px;
}

.formContainer__fillingContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 60px;
}

.fillingContainer__inputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.fillingContainer__inputContainer:nth-child(3) {
  grid-area: 2/1/3/3;
}
.fillingContainer__inputContainer label {
  font-family: "Nunito Sans";
  font-size: 13px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 7px;
}
.fillingContainer__inputContainer input {
  background: rgba(0, 0, 0, 0);
  font-family: "Nunito Sans";
  font-size: 14px;
  line-height: 23px;
  color: #FFFFFF;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}
.fillingContainer__inputContainer input::-webkit-input-placeholder {
  color: #FFFFFF;
}
.fillingContainer__inputContainer input::-moz-placeholder {
  color: #FFFFFF;
}
.fillingContainer__inputContainer input:-ms-input-placeholder {
  color: #FFFFFF;
}
.fillingContainer__inputContainer input::-ms-input-placeholder {
  color: #FFFFFF;
}
.fillingContainer__inputContainer input::placeholder {
  color: #FFFFFF;
}

.checkboxContainer__inputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.checkboxContainer__inputContainer p {
  font-family: "Nunito Sans";
  font-size: 14px;
  line-height: 163.68%;
  color: #FFFFFF;
  margin-left: 15px;
}

.section-8 {
  max-width: 100%;
  background: url("../img/sec-8/sec-8__bg.png") center center/cover no-repeat;
  height: 100vh;
  padding-top: 320px;
}

.section-8__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactInformationContainer__information {
  width: 590px;
  font-family: "Yeseva One";
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #E3B873;
  margin-bottom: 25px;
}

.contactInformationContainer__iconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}
.contactInformationContainer__iconContainer a {
  margin-right: 15px;
}
.contactInformationContainer__iconContainer a:last-child {
  margin-right: 0;
}

.footer {
  max-width: 100%;
  background: #131313;
  padding: 62px 0 62px 0;
}

.footer__navContainer {
  max-width: 1290px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navContainer__logoContainer h1 {
  font-family: "Nunito Sans";
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: #E3B873;
}

.navContainer__listMenuContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navContainer__listMenuContainer li {
  margin-right: 48px;
}
.navContainer__listMenuContainer li:last-child {
  margin: 0;
}
.navContainer__listMenuContainer li a {
  font-family: "Nunito Sans";
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: 350ms;
  transition: 350ms;
}
.navContainer__listMenuContainer li a:hover {
  color: #E3B873;
}

.navContainer__telephoneContainer a {
  font-family: "Nunito Sans";
  font-size: 11px;
  line-height: 15px;
  text-decoration-line: underline;
  color: #E3B873;
}

.navContainer__buttonContainer a {
  font-family: "Nunito Sans";
  font-style: italic;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  padding: 12px 30px 10px 30px;
  -webkit-transition: 350ms;
  transition: 350ms;
}
.navContainer__buttonContainer a:hover {
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  border: 1px solid #E3B873;
}