//? SETTINGS ?//
@import "obnulenie.scss";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	font-weight: 400;
}
main {
	flex: 1 1 auto;
}
/* Слайдер */
.slick-slider{
	position: relative;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
}
/* Стрелка */
.slick-arrow {
	font-size: 0;
	background: url("../img/sec-2/sec-2__arrowSlider.svg") center center no-repeat;
	width: 70px;
	height: 20px;
}
.slick-arrow{
	position: absolute;
	bottom: 0;
	z-index: 10;
	left: 0;
}
/* Стрелка влево */
.slick-arrow.slick-prev{
	left: 30px;
	transform: rotate(-180deg);
}
/* Стрелка вправо */
.slick-arrow.slick-next{
	left: 210px;
}
/* Точки (булиты) */
.slick-dots{
	position: absolute;
	display: flex;
	bottom: 5px;
	left: 120px;
}
.slick-dots li{
	width: 10px;
	height: 10px;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 30px;
	margin-right: 20px;
	&:last-child {
		margin: 0;
	}
}
/* Активная точка */
.slick-dots li.slick-active{
	background: rgba(255, 255, 255, 1);
}
/* Элемент точки */
.slick-dots li button{
	font-size: 0;
}
//? SETTINGS - END ?//

//* HEADER *//
.header {
	max-width: 100%;
	background: #131313;
	padding: 36px 0 36px 0;
}
.header__navContainer {
	max-width: 1290px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navContainer__logoContainer {
	h1 {
		font-family: 'Nunito Sans';
		font-size: 11px;
		line-height: 15px;
		text-transform: uppercase;
		color: #E3B873;
	}
}
.navContainer__listMenuContainer {
	display: flex;
	li {
		margin-right: 48px;
		&:last-child {
			margin: 0;
		}
		a {
			font-family: 'Nunito Sans';
			font-size: 11px;
			line-height: 15px;
			text-transform: uppercase;
			color: #FFFFFF;
			transition: 350ms;
			&:hover {
				color: #E3B873;
			}
		}
	}
}
.navContainer__telephoneContainer {
	a {
		font-family: 'Nunito Sans';
		font-size: 11px;
		line-height: 15px;
		text-decoration-line: underline;
		color: #E3B873;
	}
}
.navContainer__buttonContainer {
	a {
		font-family: 'Nunito Sans';
		font-style: italic;
		font-size: 11px;
		line-height: 15px;
		text-align: center;
		text-transform: uppercase;
		color: #FFFFFF;
		border: 1px solid #FFFFFF;
		border-radius: 2px;
		padding: 12px 30px 10px 30px;
		transition: 350ms;
		&:hover {
			background: #E3B873;
			box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
			border-radius: 2px;
			border: 1px solid #E3B873;
		}
	}
}
//* HEADER - END *//

//* SECTION-1 *//
.section-1 {
	padding: 0 30px;
	max-width: 100%;
	height: 91.9vh;
	background: url("../img/sec-1/sec-1__bg.png") center center/cover no-repeat;
}
.section-1__container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 14.5% 0;
}
.section-1__textContainerS1 {
	max-width: 520px;
}
.textContainerS1__titleContainer {
	margin-bottom: 20px;
	h2 {
		font-family: 'Yeseva One';
		font-size: 40px;
		line-height: 53px;
		text-transform: uppercase;
		color: #FFFFFF;
		span {
			color: #E3B873;
		}
	}
}
.textContainerS1__descriptionContainer {
	margin-bottom: 60px;
	p {
		font-family: 'Nunito Sans';
		font-size: 22px;
		line-height: 36px;
		color: #FFFFFF;
	}
}
.section-1__buttonsContainer {
	a {
		font-family: 'Nunito Sans';
		font-style: italic;
		font-size: 11px;
		line-height: 15px;
		text-align: center;
		text-transform: uppercase;
		color: #FFFFFF;
		border: 1px solid #FFFFFF;
		border-radius: 2px;
		margin-right: 20px;
		transition: 350ms;
		&:hover {
			background: #E3B873;
			box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
			border-radius: 2px;
			border: 1px solid #E3B873;
		}
		&:nth-child(1) {
			padding: 19px 40px 19px 40px;
		}
		&:nth-child(2) {
			padding: 19px 25px 19px 25px;
			margin: 0;
		}
	}
}
//* SECTION-1 - END *//

//* SECTION-2 *//
.section-2 {
	max-width: 100%;
	height: 90vh;
	background: #131313;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.section-2__container {
	max-width: 1200px;
	padding: 0 30px;
}
.section-2__titlePlaceContainer {
	max-width: 625px;
	display: flex;
	float: right;
	margin-bottom: 45px;
	margin-right: 60px;
}
.titlePlaceContainer__title {
	font-family: 'Yeseva One';
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.3);
	margin-right: 60px;
	&:last-child {
		margin: 0;
	}
	.active {
		color: #E3B873;
		border-bottom: 1px solid #E3B873;
	}
}
.section-2__sliderContainer {
	display: flex;
	clear: right;
	position: relative;
}
.sliderContainer__item {
	display: flex;
	margin-left: 50px;
}
.item__infContainer {
	margin-right: 50px;
}
.infContainer__titleContainer {
	margin-bottom: 35px;
	h3 {
		font-family: 'Yeseva One';
		font-size: 27px;
		line-height: 37px;
		letter-spacing: -0.07em;
		text-transform: uppercase;
		color: #E3B873;
	}
}
.infContainer__descriptionContainer {
	margin-bottom: 35px;
	p {
		font-family: 'Nunito Sans';
		font-size: 14px;
		line-height: 27px;
		color: #FFFFFF;
	}
}
.infContainer__aboutProjectInformationContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 30px;
	h4 {
		font-family: 'Yeseva One';
		font-size: 18px;
		line-height: 25px;
		text-transform: uppercase;
		color: #E3B873;
		margin-bottom: 10px;
	}
	p {
		font-family: 'Nunito Sans';
		font-size: 13px;
		line-height: 21px;
		color: #FFFFFF;
	}
}
//* SECTION-2 - END *//

//* SECTION-3 *//
.section-3 {
	max-width: 100%;
	background: #FFFFFF;
	padding: 0 0 100px 0;
}
.section-3__container {
	max-width: 100%;
	background: #131313;
}
.section-3__secondContainer {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.section-3__titleCotnainer {
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	position: relative;
	h3 {
		font-family: 'Yeseva One';
		font-size: 20px;
		line-height: 28px;
		text-align: center;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-bottom: 15px;
	}
	img {
		width: 32px;
		margin: 0 auto;
	}
	&::after {
		content: '';
		width: 32px;
		height: 1px;
		position: absolute;
		background-color: #E3B873;
		bottom: 12px;
		right: 30px;
		border-radius: 30px;
	}
	&::before {
		content: '';
		width: 32px;
		height: 1px;
		position: absolute;
		background-color: #E3B873;
		bottom: 12px;
		left: 25px;
		border-radius: 30px;
	}
}
.section-3__videoContainer {
	position: relative;
	margin-bottom: -18.5%;
	#video {
		transition: 290ms;
		&:hover {
			filter: brightness(15%);
		}
	}
	#play {
		display: none;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	&.active {
		#play {
			display: block;
		}
	}
}
.section-3__containerInforamations {
	margin-top: 280px;
}
.section-3__description {
	max-width: 680px;
	font-family: 'Nunito Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 37px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 93px;
	position: relative;
	&::after {
		content: '';
		width: 55px;
		height: 1.5px;
		position: absolute;
		background-color: #E3B873;
		top: -30px;
		left: 300px;
		border-radius: 30px;
	}

}
.formContainer__competition {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 39px;
}
.group {
	display: flex;
	flex-direction: column;
	margin-right: 50px;
	width: 231px;
	label {
		font-family: 'Nunito Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 13px;
		line-height: 21px;
		color: rgba(54, 54, 54, 0.5);
		margin-bottom: 7px;
	}
	input {
		font-family: 'Nunito Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 23px;
		color: #363636;
		padding-bottom: 8px;
		border-bottom: 1px solid rgba(54, 54, 54, 0.3);
	}
}
.formContainer__button {
	font-family: 'Nunito Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 27px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	border: 2px solid #E3B873;
	background-color: #E3B873;
	box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
	border-radius: 2px;
	padding: 10px 75px;
	&:hover {
		color: #E3B873;
		background-color: #FFFFFF;
		transition: 0.3s;
	}
}
.formContainer__checkboxContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	p {
		font-family: 'Nunito Sans';
		font-size: 14px;
		line-height: 163.68%;
		color: #181818;
	}
}
.checkboxContainer__inputContainer {
	margin-right: 15px;
	.checkbox {
		width: 18px;
		height: 18px;
		position: relative;
		&:checked::before {
			content: "";
			background: #E3B873;
			width: 18px;
			height: 18px;
			position: absolute;
			border-radius: 1px;
		}
		&:checked::after {
			content: url("../img/sec-3/sec-3__check.svg");
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
		}
	}
}
//* SECTION-3 - END *//

//* SECTION-4 *//
.section-4 {
	max-width: 100%;
	padding: 150px 0 220px 0;
}
.section-4__container {
	max-width: 1230px;
	padding: 0 30px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.section-4__titleContainer {
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	position: relative;
	h3 {
		font-family: 'Yeseva One';
		font-size: 20px;
		line-height: 28px;
		text-align: center;
		text-transform: uppercase;
		color: #181818;
		margin-bottom: 15px;
	}
	img {
		width: 32px;
		margin: 0 auto;
	}
	&::after {
		content: '';
		width: 32px;
		height: 1px;
		position: absolute;
		background-color: #E3B873;
		bottom: 12px;
		right: 25px;
		border-radius: 30px;
	}
	&::before {
		content: '';
		width: 32px;
		height: 1px;
		position: absolute;
		background-color: #E3B873;
		bottom: 12px;
		left: 25px;
		border-radius: 30px;
	}
}
.section-4__typesContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-gap: 30px;
}
.typesContainer__itemTypesContainer {
	display: flex;
	flex-direction: column;
}
.itemTypesContainer__informationsContainer {
	width: 330px;
	margin: 0 auto;
	padding-bottom: 15px;
	background: #fff;
	margin-top: -140px;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}
.informationsContainer__descriptionsContainer {
	padding: 25px 30px;
}
.descriptionsContainer__title {
	font-family: 'Yeseva One';
	font-size: 18px;
	line-height: 25px;
	color: #363636;
	margin-bottom: 15px;
}
.descriptionsContainer__list {
	margin-bottom: 15px;
	li {
		font-family: 'Nunito Sans';
		font-size: 13px;
		line-height: 27px;
		color: #959595;
		position: relative;
		padding-left: 12px;
		&::before {
			content: "";
			position: absolute;
			background: #959595;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			left: 0;
			top: 10px;
		}
	}
}
.informationsContainer__buttonContainer {
	a {
		padding: 17px;
		font-family: 'Yeseva One';
		font-size: 18px;
		line-height: 25px;
		text-transform: uppercase;
		color: #FFFFFF;
		background: #E3B873;
		box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
	}
}
//* SECTION-4 - END *//

//* SECTION-5 *//
.section-5 {
	max-width: 100%;
	padding-bottom: 150px;
	background-color: #FFFFFF;
	background: url("../img/sec-5/sec-5__bg.svg") 0 -110px/750px no-repeat;
}
.section-5__container {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.prioritiesContainer__list {
	width: 500px;
	li {
		font-family: 'Nunito Sans';
		font-size: 14px;
		line-height: 19px;
		color: #363636;
		margin-bottom: 115px;
		position: relative;
		padding-left: 70px;
		&:last-child {
			margin-bottom: 0;
		}
		&:nth-child(1)::before {
			content: url("../img/sec-5/sec-5__list1.svg");
			position: absolute;
			left: 0;
			top: -7px;
		}
		&:nth-child(2)::before {
			content: url("../img/sec-5/sec-5__list2.svg");
			position: absolute;
			left: 0;
			top: -15px;
		}
		&:nth-child(3)::before {
			content: url("../img/sec-5/sec-5__list3.svg");
			position: absolute;
			left: 0;
			top: -15px;
		}
		&:nth-child(4)::before {
			content: url("../img/sec-5/sec-5__list4.svg");
			position: absolute;
			left: 0;
			top: -15px;
		}
	}
}
.formAndDescriptionContainer__leaveRequestFormContainer {
	width: 510px;
	padding: 30px 50px 80px 50px;
	background: #131313;
	box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
	margin-bottom: 40px;
	h3 {
		font-family: 'Nunito Sans';
		font-size: 18px;
		line-height: 26px;
		color: #FFFFFF;
		text-align: center;
		width: 300px;
		margin: 0 auto 40px auto;
	}
}
.leaveRequestFormContainer__inputContainer {
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
	&:last-child {
		margin-bottom: 0;
	}
	label {
		font-family: 'Nunito Sans';
		font-size: 13px;
		line-height: 21px;
		color: rgba(255, 255, 255, 0.5);
		margin-bottom: 7px;
	}
	input {
		background: rgba(0, 0, 0, 0);
		font-family: 'Nunito Sans';
		font-size: 14px;
		line-height: 23px;
		color: #FFFFFF;
		padding-bottom: 8px;
		border-bottom: 1px solid rgba(54, 54, 54, 0.3);
		&::placeholder {
			color: #FFFFFF;
		}
	}
}
.leaveRequestFormContainer__checkboxContainer {
	display: flex;
	align-items: center;
	margin-top: -35px;
	margin-bottom: 40px;
	p {
		font-family: 'Nunito Sans';
		font-size: 14px;
		line-height: 163.68%;
		color: #FFFFFF;
	}
}
.leaveRequestFormContainer__button {
	font-family: 'Nunito Sans';
	font-size: 13px;
	line-height: 21px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 14px 25px 14px 25px;
	background: #E3B873;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
	float: right;
}
.formAndDescriptionContainer__descriptionContainer {
	display: flex;
	align-items: center;
	p {
		margin-top: -15px;
		font-family: 'Nunito Sans';
		font-size: 18px;
		line-height: 26px;
		color: #E3B873;
		text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
	}
}
//* SECTION-5 - END *//

//* SECTION-6 *//
.section-6 {
	max-width: 100%;
	margin-bottom: 90px;
	background: url('../img/sec-6/sec-6__bg.png') center center/100% 800px no-repeat;
}
.section-6__container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menuContainer__title {
	font-family: 'Yeseva One';
	font-size: 27px;
	line-height: 37px;
	text-transform: uppercase;
	color: #E3B873;
	margin-bottom: 50px;
	width: 300px;
}
.menuContainer__listContainer {
	li {
		margin-bottom: 25px;
		&:last-child {
			margin-bottom: 0;
		}
		a {
			font-family: 'Nunito Sans';
			font-size: 20px;
			color: #FFFFFF;
			transition: 350ms;
			&:hover {
				color: #E3B873;
				border-bottom: 1px solid #E3B873;
			}
		}
	}
}
.section-6__galleryContainer {
	display: flex;
	.galleryContainer__upScroll {
		margin-top: -100px;
	}
}
.galleryContainer__item {
	margin: 40px 20px;
}
//* SECTION-6 - END *//

//* SECTION-7 *//
.section-7 {
	max-width: 100%;
	background: url("../img/sec-7/sec-7__bg.png") bottom repeat-x;
}
.section-7__container {
	max-width: 1200px;
	padding: 0 30px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.section-7__titleContainer {
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	position: relative;
	h3 {
		font-family: 'Yeseva One';
		font-size: 20px;
		line-height: 28px;
		text-align: center;
		text-transform: uppercase;
		color: #181818;
		margin-bottom: 15px;
	}
	img {
		width: 32px;
		margin: 0 auto;
	}
	&::after {
		content: '';
		width: 32px;
		height: 1px;
		position: absolute;
		background-color: #E3B873;
		bottom: 12px;
		right: 10px;
		border-radius: 30px;
	}
	&::before {
		content: '';
		width: 32px;
		height: 1px;
		position: absolute;
		background-color: #E3B873;
		bottom: 12px;
		left: 10px;
		border-radius: 30px;
	}
}
.section-7__description {
	font-family: 'Nunito Sans';
	font-size: 18px;
	line-height: 29px;
	text-align: center;
	color: #363636;
	margin-bottom: 39px;
}
.section-7__administratorsContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
}
.administratorsItem__textContainer {
	padding: 30px;
}
.administratorsContainer__administratorsItem {
	max-width: 370px;
	background: #FFFFFF;
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
	&:last-child {
		margin-right: 0;
	}
}
.administratorsItem__titleContainer {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	img{
		border-radius: 50%;
		margin-right: 25px;
	}
	h3 {
		font-family: 'Yeseva One';
		font-size: 18px;
		line-height: 23px;
		color: #181818;
	}
}
.administratorsItem__descriptionsContainer {
	p {
		font-family: 'Nunito Sans';
		font-size: 13px;
		line-height: 180%;
		color: #959595;
		margin-bottom: 15px;
		&:last-child {
			margin: 0;
		}
	}
}
.administratorsItem__informationsContainer {
	display: flex;
	p {
		font-family: 'Yeseva One';
		font-size: 17px;
		color: #FFFFFF;
		padding: 14px 17px;
		background: #E3B873;
		box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
		display: flex;
		align-items: center;
		&:first-child {
			border-right: 1px solid #FFFFFF;
		}
		img {
			margin-right: 15px;
		}
	}
}
.section-7__administratorsContainer {
	margin-bottom: 140px;
}
.section-7__formContainer {
	background-color: #131313;
	width: 885px;
	margin: 0 auto -240px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px 0;
}
.formContainer__title {
	font-family: 'Yeseva One';
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 45px;
}
.formContainer__fillingContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 60px
}
.fillingContainer__inputContainer {
	display: flex;
	flex-direction: column;
	&:nth-child(3) {
		grid-area: 2 / 1 / 3 / 3;
	}
	label {
		font-family: 'Nunito Sans';
		font-size: 13px;
		line-height: 21px;
		color: rgba(255, 255, 255, 0.5);
		margin-bottom: 7px;
	}
	input {
		background: rgba(0, 0, 0, 0);
		font-family: 'Nunito Sans';
		font-size: 14px;
		line-height: 23px;
		color: #FFFFFF;
		padding-bottom: 8px;
		border-bottom: 1px solid rgba(54, 54, 54, 0.3);
		&::placeholder {
			color: #FFFFFF;
		}
	}
}
.checkboxContainer__inputContainer {
	display: flex;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 50px;
	p {
		font-family: 'Nunito Sans';
		font-size: 14px;
		line-height: 163.68%;
		color: #FFFFFF;
		margin-left: 15px;
	}
}
//* SECTION-7 - END *//

//* SECTION-8 *//
.section-8 {
	max-width: 100%;
	background: url("../img/sec-8/sec-8__bg.png") center center/cover no-repeat;
	height: 100vh;
	padding-top: 320px;
}
.section-8__container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contactInformationContainer__information {
	width: 590px;
	font-family: 'Yeseva One';
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	color: #E3B873;
	margin-bottom: 25px;
}
.contactInformationContainer__iconContainer {
	display: flex;
	align-items: center;
	margin-bottom: 45px;
	a{
		margin-right: 15px;
	&:last-child{
		margin-right: 0;
	}
	}
}
.contactInformationContainer__mapContainer {
}
//* SECTION-8 - END *//


//* FOOTER *//
.footer {
	max-width: 100%;
	background: #131313;
	padding: 62px 0 62px 0;
}
.footer__navContainer {
	max-width: 1290px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navContainer__logoContainer {
	h1 {
		font-family: 'Nunito Sans';
		font-size: 11px;
		line-height: 15px;
		text-transform: uppercase;
		color: #E3B873;
	}
}
.navContainer__listMenuContainer {
	display: flex;
	li {
		margin-right: 48px;
		&:last-child {
			margin: 0;
		}
		a {
			font-family: 'Nunito Sans';
			font-size: 11px;
			line-height: 15px;
			text-transform: uppercase;
			color: #FFFFFF;
			transition: 350ms;
			&:hover {
				color: #E3B873;
			}
		}
	}
}
.navContainer__telephoneContainer {
	a {
		font-family: 'Nunito Sans';
		font-size: 11px;
		line-height: 15px;
		text-decoration-line: underline;
		color: #E3B873;
	}
}
.navContainer__buttonContainer {
	a {
		font-family: 'Nunito Sans';
		font-style: italic;
		font-size: 11px;
		line-height: 15px;
		text-align: center;
		text-transform: uppercase;
		color: #FFFFFF;
		border: 1px solid #FFFFFF;
		border-radius: 2px;
		padding: 12px 30px 10px 30px;
		transition: 350ms;
		&:hover {
			background: #E3B873;
			box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
			border-radius: 2px;
			border: 1px solid #E3B873;
		}
	}
}
//* FOOTER - END *//