@import "obnulenie.scss";
@import "fonts.scss";


body {
	background: #191919;
	min-height: 100%;
	width: 100%;
	font-family: 'DM sans';
	color: #FFFFFF;
}
.main {
	max-width: 1550px;
	margin: 0 auto;
	padding: 0 3.15rem;
}
.btnBlue {
	border-radius: 6px;
	background: #118DA8;
	color: #FFF;
	font-size: 17px;
	font-weight: 400;
	line-height: 27px;
	padding: 0.75rem 1.25rem;
	transition: 0.4s;
	&:hover {
		transition: 0.4s;
		background: #0e505f;
	}
}



.mainScreen {
	width: 100%;
}
.header {
	width: 100%;
	padding: 2.65rem 0;
}
.headerContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.headerMenu {
	display: flex;
	align-items: center;
	li {
		margin-right: 2.5rem;
		&:last-child {
			margin-left: 0;
		}
		a {
			color: #FFFFFF;
			font-size: 1.0625rem;
			font-weight: 400;
			line-height: 1.6875rem;
			transition: 0.3s;
			&:hover {
				transition: 0.3s;
				color: #118DA8;
			}
		}
	}
}
.mainScreenContainer {
	padding-top: 2.5rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
}
.mainScreenImg {
	position: relative;
	img {
		border-radius: 0.75rem;
		width: 100%;
		height: 100%;
		max-width: 45rem;
	}
	&::before {
		content: url('../img/triPalki.svg');
		position: absolute;
		left: -26px;
		top: -26px;
		z-index: 10;
	}
}
.mainScreenContent {
	max-width: 32.875rem;
	margin: 0 auto;
}
.mainScreenTitle {
	font-size: 4.375rem;
	font-weight: 400;
	line-height: 5.5rem;
	letter-spacing: 0.2rem;
	margin-bottom: 6rem;
	span {
		font-size: 4.6875rem;
		font-weight: 400;
		line-height: 5.5rem;
		letter-spacing: 0.2rem;
		position: relative;
		&::before {
			content: url('../img/borderBottom.svg');
			position: absolute;
			top: 0;
			left: -7px;
		}
	}
	b {
		font-size: 5rem;
		font-weight: 700;
		line-height: 5.5rem;
		letter-spacing: 0.2rem;
	}
}
.mainScreenList {
	p {
		font-size: 0.9375rem;
		font-weight: 400;
		line-height: 1.5rem;
		margin-bottom: 1rem;
	}
	ul {
		display: flex;
		align-items: center;
		li {
			margin-right: 1.05rem;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}



.latestEpisodes {
	margin-top: 5.8rem;
	margin-bottom: 10rem;
}
.latestEpisodesContent {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 4.15rem;
}
.latestEpisodesTitle {
	font-size: 64px;
	font-weight: 400;
	line-height: 79.2px;
	letter-spacing: 2.88px;
}
.latestEpisodesCards {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 3.75rem;
}
.latestEpisodesCard {
	border-radius: 2rem;
	background: #000;
	padding: 2.5rem;
	display: grid;
	align-items: center;
	justify-content: space-between;
	grid-template-columns: 1.5fr 2fr;
	grid-template-rows: 35rem;
	grid-gap: 3.5rem;
}
.latestEpisodesCard_img {
	width: 90%;
	height: 90%;
	margin-right: 3.5rem;
}
.latestEpisodesCardContent {
	max-width: 48rem;
}
.latestEpisodesCard_filter {
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.6875rem;
	border-radius: 0.375rem;
	background: #191919;
	padding: 0 1rem;
	text-align: center;
	color: #FFF;
}
.latestEpisodesCard_episode {
	color: #118DA8;
	font-size: 1.0625rem;
	font-weight: 400;
	line-height: 1.6875rem;
	margin-bottom: 1.12rem;
	margin-top: 3rem;
}
.latestEpisodesCard_title {
	font-size: 4rem;
	font-weight: 400;
	line-height: 4.4rem;
	letter-spacing: 0.16rem;
	margin-bottom: 1.75rem;
}
.latestEpisodesCard_decsription {
	color: rgba(255, 255, 255, 0.70);
	font-size: 1.375rem;
	font-weight: 400;
	line-height: 2.0625rem;
	margin-bottom: 3rem;
}



.jacobPaulaner {
	padding: 6.25rem 0 0 0;
}
.jacobPaulanerContainer {
	display: grid;
	grid-template-columns: 1.2fr 1fr;
	align-items: center;
	justify-content: space-between;
}
.jacobPaulanerContent {
	max-width: 37rem;
	margin-right: 3.75rem;
}
.jacobPaulanerContent_btn {
	border-radius: 25rem;
	background: #118DA8;
	display: flex;
	width: 7rem;
	height: 7rem;
	position: relative;
	transition: 0.4s;
	&:hover {
		transition: 0.4s;
		background: #0e505f;
	}
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
.jacobPaulanerContent_secondTitle {
	color: #118DA8;
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.6875rem;
	margin-top: 1.25rem;
}
.jacobPaulanerContent_title {
	font-size: 4.0625rem;
	font-weight: 400;
	line-height: 4.95rem;
	letter-spacing: 0.18rem;
	margin-bottom: 1.75rem;
}
.jacobPaulanerContent_desc {
	color: rgba(255, 255, 255, 0.70);
	font-size: 1.375rem;
	font-weight: 400;
	line-height: 2.0625rem;
	p {
		margin-bottom: 2.05rem;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.jacobPaulanerImg {
	width: 100%;
	height: 100%;
}


.subForUpdate {
	margin-top: 12.5rem;
}
.subForUpdateContainer {
	border-radius: 2rem;
	background: #000;
	padding: 3.75rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: relative;
	&::before {
		content: url('../img/palkitri.svg');
		position: absolute;
		bottom: -1.62rem;
		left: -2.38rem;
	}
}
.subForUpdateContent_secondTitle {
	color: #118DA8;
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.6875rem;
}
.subForUpdateContent_title {
	font-size: 4.5rem;
	font-weight: 400;
	line-height: 4.95rem;
	letter-spacing: 0.18rem;
}
.subForUpdateForm {
	display: flex;
	flex-direction: column;
}
.subForUpdateForm_input {
	border-radius: 0.375rem;
	border: 1px solid #191919;
	background: #191919;
	color: #FFF;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.8rem;
	padding: 1.62rem;
	margin-bottom: 1.25rem;
	&::placeholder {
		color: rgba(255, 255, 255, 0.70);
	}
}
.subForUpdateForm_btn {
	border-radius: 0.375rem;
	background: #118DA8;
	color: rgba(255, 255, 255, 0.70);
	font-size: 0.9375rem;
	font-weight: 700;
	line-height: 1.8rem;
	padding: 1rem 1.6rem;
	transition: 0.4s;
	&:hover {
		transition: 0.4s;
		background: #0e505f;
		color: #FFF;
	}
}



.feedback {
	margin-top: 12.5rem;
}
.feedbackContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 1rem;
}
.feedbackCard {
	border-radius: 2rem;
	background: #000;
	padding: 3.2em;
}
.feedback_stars {
	margin-bottom: 1.3rem;
	
}
.feedback_comment {
	margin-bottom: 1.4rem;
	color: #FFF;
	font-size: 2.25rem;
	font-weight: 400;
	line-height: 2.7rem;
}
.feedback_name {
	color: rgba(255, 255, 255, 0.70);
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.8rem;
}



.footer {
	margin-top: 6.25rem;
}
.footerContainer {
	display: flex;
	align-items: start;
	justify-content: space-between;
	max-width: 1550px;
	margin: 0 auto;
	padding: 6.25rem 3.15rem;
}
.footerLogoAndContacts {
	img {
		margin-bottom: 1.44rem;
	}
	ul {
		display: flex;
		align-items: center;
		li {
			margin-right: 0.62rem;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
.footerMenu {
	li {
		margin-bottom: 0.62rem;
		&:last-child {
			margin-bottom: 0;
		}
		a {
			color: #FFF;
			font-size: 1.0625rem;
			font-weight: 400;
			line-height: 1.6875rem;
			transition: 0.3s;
			&:hover {
				transition: 0.3s;
				color: #118DA8;
			}
		}
	}
}
.footerSecondMenu {
	li {
		margin-bottom: 0.62rem;
		&:last-child {
			margin-bottom: 0;
		}
		a {
			color: #FFF;
			font-size: 1.0625rem;
			font-weight: 400;
			line-height: 1.6875rem;
			transition: 0.3s;
			&:hover {
				transition: 0.3s;
				color: #118DA8;
			}
		}
	}
}
.mainScreenList {
}
.footerLinks {
}