@import "obnulenie.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

body {
	display: flex;
	max-width: 100%;
	flex-direction: column;
}
main {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	flex: 1 1 auto;
}
footer {
	width: 100%;
	min-height: 900px;
	background: url("../img/footer/footer__bg.png") center center/cover no-repeat;
	position: relative;
}
*.container {
	padding: 0 30px;
	display: flex;
	justify-content: space-between;
	max-width: 1470px;
	margin: 0 auto;
	align-items: center;
}

//! MIXINS !//
@mixin Orange {
	font-family: 'Montserrat';
	font-weight: 800;
	font-size: 60px;
	line-height: 73px;
	color: #FF6100;
}
@mixin Black {
	font-family: 'Montserrat';
	font-weight: 900;
	font-size: 25px;
	line-height: 26px;
	color: #4F4F4F;
}
@mixin Default-Desc {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
	color: #4F4F4F;
}
@mixin Default-Desc-White {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
	color: #FFFFFF;
}
@mixin Button-Orange {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 26px;
	color: #FFFFFF;
	padding: 5px 35px;
	border: 1px solid #FF6100;
	background: #FF6100;
	border-radius: 50px;
	margin-right: 20px;
	&:hover {
		color: #FF6100;
		background: #FFFFFF;
		transition: 0.5s;
		border: 1px solid #FF6100;
	}
}
@mixin Button-Gray {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 26px;
	color: #FFFFFF;
	padding: 5px 25px;
	border: 1px solid #BDBDBD;
	background: #BDBDBD;
	border-radius: 50px;
	&:hover {
		color: #4F4F4F;
		background: #FFFFFF;
		transition: 0.5s;
		border: 1px solid #4F4F4F;
	}
}
//! MIXINS - END !//

//? ID ?//
#title-Orange {
	@include Orange
}
#title-Black {
	@include Black
}
#Default-Desc {
	@include Default-Desc
}
#Default-Desc-White {
	@include Default-Desc-White
}
#button-Orange {
	@include Button-Orange
}
#button-Gray {
	@include Button-Gray
}
//? ID - END ?//

//* HEADER *//
header {
	padding: 25px 30px 22px 30px;
	max-width: 100%;
	background: #FF6100;
}
.headerContainer {
	display: flex;
	max-width: 1470px;
	justify-content: space-between;
	margin: 0 auto;
	align-items: center;
}
.headerContainer__headerListContainer {
	display: flex;
	&:nth-child(2) {
		li {
			margin-right: 18px;
			a {
				padding: 6px 15px;
				background: #FF9250;
				border-radius: 30px;
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 20px;
				text-align: center;
				color: #FF6100;
				&:hover {
					background: #FFFFFF;
				}
			}
			&:last-child {
				margin: 0;
			}
		}
	}
	&:nth-child(3) {
		li {
			margin-right: 18px;
			a {
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 20px;
				color: #FFFFFF;
				&:hover {
					text-decoration: underline;
				}
			}
			&:last-child {
				margin: 0;
			}
		}
	}
	&:nth-child(4) {
		li {
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 800;
			font-size: 16px;
			line-height: 20px;
			color: #FFFFFF;
			a {
				margin: 0 20px;
				padding: 5px 25px 6px 25px;
				background: #D30000;
				border-radius: 20px;
				font-family: 'Roboto';
				font-weight: 900;
				font-size: 20px;
				line-height: 23px;
				text-align: center;
				color: #FFFFFF;
			}
		}
	}
}
//* HEADER - END *//

//* SECTION 1 *//
.section1 {
	padding: 30px 0 70px 0;
	align-items: center;
	position: relative;
}
.informationAboutAvtoclav__supTitle {
	font-size: 22px;
	line-height: 27px;
	color: #FF6100;
}
.informationAboutAvtoclav__title {
	font-weight: 900;
	font-size: 92.382px;
	line-height: 85px;
	color: #FF6100;
	text-transform: uppercase;
}
.informationAboutAvtoclav__subTitle {
	font-size: 22px;
	line-height: 27px;
	color: #FF6100;
}
.informationAboutAvtoclav__listPros { //todo: Добавить в список боковые картинки "ХИТ!" //
	margin-top: 30px;
	float: right;
	li {
		font-size: 22px;
		line-height: 27px;
		color: #4F4F4F;
		&::before {
			content: "";
			margin-right: 10px;
			background: url(../img/sec-1/section-1__hit.svg) center center no-repeat;
			padding: 15px;
		}
	}
}
.priceAboutAvtoclav__imgContainer {
	margin-left: -110px;
}
.section1__avtoclavImgContainer {
	z-index: -1;
	img {
		left: 50%;
		transform: translate(-20%, -0%);
		top: 30px;
		position: absolute;
	}
}
.section1__priceAboutAvtoclav {
	z-index: 2;
}
.priceAboutAvtoclav__textContainer {
	max-width: 335px;
	text-align: center;
}
.textContainer__instructionImgContainer {
	display: flex;
	flex-direction: column;
	margin-left: 210px;
	margin-bottom: 45px;
	img {
		width: 62px;
		&:last-child {
			margin-top: 15px;
		}
	}
}
.priceContainer__supPrice {
	font-size: 25.9254px;
	line-height: 32px;
	text-decoration-line: line-through;
	color: #BDBDBD;
}
.priceContainer__price {
	font-weight: 900;
	font-size: 66.9982px;
	line-height: 50px;
	color: #00A542;
	span {
		font-weight: 300;
		font-size: 33px;
	}
}
.priceContainer__subPrice {
	font-size: 42.2488px;
	line-height: 52px;
	color: #BDBDBD;
	text-transform: uppercase;
}
.textContainer__giftContianer {
	margin-top: 15px;
	p {
		font-weight: 800;
		font-size: 36.4905px;
		line-height: 44px;
		color: #FF6100;
	}
}
//* SECTION 1 - END *//

//* SECTION 2 *//
.section2 {
	max-width: 100%;
	margin: 0 auto;
	background: url('../img/sec-2/sec-2__bg.png') center center/cover no-repeat;
	height: 583px;
}
.section2__imgContainer {
	margin-top: 83px;
}
.section2__informationContainer {
	max-width: 700px;
	margin-right: 200px;
	p {
		margin-top: 40px;
	}
}
.informationContainer__title {
	margin-top: 83px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-size: 60px;
	line-height: 73px;
	color: #FFFFFF;
}
//* SECTION 2 - END *//

//* SECTION 3 *//
.section3__informationContainer {
	margin-right: 40px;
	h2 {
		margin-bottom: 40px;
	}
	p {
		margin-bottom: 35px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.informationContainer__buttonsContainer {
	padding-top: 65px;
}
//* SECTION 3 - END *//

//* SECTION 4 *//
.section4 {
	display: flex;
	align-items: center;
	padding: 140px 0;
}
.section4__sliderContainer {
	.sliderContainer__item {
		width: 510px;
		border: 1px solid #E0E0E0;
		margin-right: 35px;
		img {
			width: 510px;
		}
	}
}
.section4__classicInformationContainer {
	h2 {
		margin-bottom: 40px;
	}
	p {
		margin-bottom: 40px;
		&:last-child {
			margin: 0;
		}
	}
	h4 {
		margin-bottom: 25px;
	}
}
.classicInformationContainer__buttonContainer {
	margin-top: 75px;
}
//* SECTION 4 - END *//

//* SECTION 5 *//
.section5 {
	padding: 140px 0;
	display: flex;
	align-items: center;
}
.section5__informationContainer {
	margin-right: 40px;
	h2 {
		margin-bottom: 40px;
	}
	h3 {
		margin-bottom: 40px;
	}
	p {
		margin-bottom: 175px;
	}
}
.section5__imgContainer {
	width: 510px;
	border: 1px solid #E0E0E0;
	img {
		width: 510px;
	}
}
//* SECTION 5 - END *//

//* SECTION 6 *//
.section6 {
	display: flex;
	padding: 140px 0;
}
.section6__imgContainer {
	margin-right: 125px;
	position: relative;
	.imgContainer__sliderContainer {
		width: 510px;
		border: 1px solid #E0E0E0;
		img {
			width: 508px;
		}
	}
	.imgContainer__likeDecoration {
		position: absolute;
		left: 35px;
		top: 35px;
	}
}
.section6__informationContainer {
	h2 {
		margin-bottom: 40px;
	}
	p {
		margin-bottom: 45px;
		&:last-child {
			margin: 0;
		}
	}
}
//* SECTION 6 - END *//

//* SECTION 7 *//
.section7 {
	max-width: 100%;
	background-color: #F2F2F2;
}
.section7__purchaseContainer {
	margin-right: 40px;
	input {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 300;
		font-size: 25px;
		line-height: 26px;
		color: #828282;
		background: #FFFFFF;
		border-radius: 50px;
		padding: 11px 80px 11px 37px;
		margin-top: 43px;
	}
}
.purchaseContainer__buttonContainer {
	display: flex;
	margin-top: 28px;
}
.purchaseContainer__buyButton {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 900;
	font-size: 25px;
	line-height: 26px;
	color: #FFFFFF;
	padding: 11px 150px;
	border: 1px solid #FF6100;
	background: #FF6100;
	border-radius: 50px;
	margin-top: 71px;
}
.section7__imgContainer {
	position: relative;
	p {
		max-width: 313px;
		position: absolute;
		right: -110px;
		top: 40%;
	}
}
//* SECTION 7 - END *//

//* SECTION 8 *//
.section8 {
	max-width: 100%;
	margin: 0 auto;
}
.section8__imgContainer {
	margin-top: 118px;
}
.section8__informationContainer {
	h2 {
		margin-top: 132px;
		margin-bottom: 25px;
	}
	p {
		max-width: 528px;
		margin-bottom: 33px;
	}
}
.informationContainer__listImgContainer {
	display: flex;
	max-width: 550px;
	align-items: center;
}
.img {
	margin-right: 62px;
}
.list {
	li {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 22px;
		line-height: 27px;
		color: #BDBDBD;
		margin-bottom: 12px;
		&:last-child {
			margin-bottom: 0;
		}
		&::before {
			content: "";
			margin-right: 10px;
			background: url(../img/sec-1/section-1__hit.svg) center center no-repeat;
			padding: 15px;
		}
	}
}
.informationContainer__buttonContainerSec8 {
	margin-top: 45px;
}
//* SECTION 8 - END *//

//* SECTION 9 *//
.section9 {
	display: flex;
	justify-content: center;
}
.section9__img {
	margin-top: 70px;
	width: 1300px;
}
//* SECTION 9 - END *//

//* SECTION 10 *//
.section10 {
	margin-bottom: 140px;
	background: url("../img/sec-10/sec-10__bg1.png") left bottom no-repeat, url("../img/sec-10/sec-10__bg2.png") right top no-repeat;
}
.noFlex {
	display: flex;
	flex-direction: column;
}
.section10__bookContainer {
	position: relative;
}
.bookContainer__itemsBookContainer {
	position: absolute;
	left: 270px;
	top: 145px;
	width: 930px;
}
.itemsBookContainer__itemBook {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.itemBook__infoContainer {
	width: 380px;
}
.itemBook__title {
	text-align: center;
	font-family: 'Montserrat';
	font-weight: 800;
	font-size: 30px;
	line-height: 37px;
	color: #6F2D05;
}
.itemBook__subTitle {
	text-align: center;
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #6F2D05;
	margin-bottom: 30px;
}
.itemBook__imgContainer {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
	img {
		border: 10px solid #FFFFFF;
	}
}
.itemBook__ingredientsTabletContainer {
	width: 250px;
	margin: 0 auto;
}
.ingredientsTabletContainer__item {
	display: flex;
	margin-bottom: 10px;
	&:last-child {
		margin: 0;
	}
	p {
		font-family: 'Montserrat';
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		color: #6F2D05;
	}
	h6 {
		width: 85px;
		font-family: 'Montserrat';
		font-weight: 800;
		font-size: 16px;
		line-height: 20px;
		color: #6F2D05;
	}
}
.itemBook__informationContainer {
	width: 410px;
	p {
		font-family: 'Montserrat';
		font-weight: 400;
		font-size: 16px;
		line-height: 30px;
		color: #6F2D05;
	}
}
//* SECTION 10 - END *//

//* SECTION 11 *//
.section11 {
	max-width: 100%;
	background-color: #E0E0E0;
	padding: 92px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.contactsContainer__messagerForm {
	display: flex;
	align-items: center;
	justify-content: center;
}
.messagerForm__messager {
	margin-top: 52px;
	img {
		margin-right: 43px;
	}
}
.messagers__tg {
	display: flex;
	align-items: center;
	margin-bottom: 25px;
	max-width: 730px;
}
.messagers__whatsApp {
	display: flex;
	align-items: center;
	margin-bottom: 25px;
}
.messagerForm__formContainer {
	display: flex;
	flex-direction: column;
	margin-top: 65px;
	input {
		display: flex;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 300;
		font-size: 25px;
		line-height: 26px;
		color: #BDBDBD;
		background: #FFFFFF;
		border-radius: 50px;
		padding: 11px 70px 11px 37px;
		margin-bottom: 34px;
	}
}
.formContaine__button {
	display: flex;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 900;
	font-size: 25px;
	line-height: 26px;
	text-align: center;
	color: #FFFFFF;
	background: #FF6100;
	border-radius: 30px;
	padding: 11px 78px 11px 95px;
}
.contact__tel {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-size: 31.4px;
	line-height: 47px;
	color: #828282;
	padding: 0 100px;
}
//* SECTION 11 - END *//

//* SECTION 12 *//
.section12 {
	padding: 130px 0;
	max-width: 1200px;
}
.section12__informationContainer {
	margin-top: -100px;
}
.informationContainer__title {
	margin-bottom: 30px;
}
.informationContainer__list {
	margin-left: 100px;
	li {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		color: #4F4F4F;
		margin-bottom: 10px;
		&:last-child {
			margin: 0;
		}
	}
}
@each $number in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, {
	.list-#{$number} {
		background: url("../img/sec-12/#{$number}.svg") 0px 0px no-repeat;
		padding: 15px;
	}
}
.informationContainer__buttonContainer {
	margin-top: 90px;
	margin-left: 100px;
}
//* SECTION 12 - END *//

//* SECTION 13 *//
.section13 {
	max-width: 100%;
	margin: 0 auto;
	background-color: #FF6100;
	height: 729px;
}
.section13__informationContainer {
	max-width: 1180px;
	margin: 0 auto;
}
.informationContainer__highContainer {
	margin-top: 113px;
	display: flex;
	align-items: center;
}
.highContainer__title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-size: 55.1471px;
	line-height: 50px;
	text-transform: uppercase;
	color: #FFFFFF;
	max-width: 400px;
	margin-right: 22px;
	span {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 800;
		font-size: 34.3164px;
		line-height: 47px;
		text-transform: uppercase;
		color: #FFFFFF;
	}
}
.highContainer__1img {
	margin-right: 60px;
}
.informationContainer__formContainer {
	margin-top: 51px;
	border: 1px solid #BDBDBD;
	background: #BDBDBD;
	border-radius: 15px;
	padding: 38px 37px 75px 37px;
}
.formContainer__inputContainer {
	input {
		&::placeholder {
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 800;
			font-size: 14px;
			line-height: 20px;
			color: #BDBDBD;
			opacity: 0.5;
		}
		padding: 13px 200px 12px 11px;
		margin-right: 30px;
		border: 1px solid #FFFFFF;
		background: #FFFFFF;
		border-radius: 5px;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 800;
		font-size: 14px;
		line-height: 20px;
		color: #000;
	}
}
.formContainer__button {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: #FFFFFF;
	border: 1px solid #40AF5F;
	background: #40AF5F;
	border-radius: 5px;
	padding: 13px 50px 12px 47px;
}
.formContainer__condition {
	margin-top: 27px;
	float: right;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 11.3px;
	line-height: 17px;
	color: #FFFFFF;
	span {
		a {
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 500;
			font-size: 11.3px;
			line-height: 17px;
			color: #FFFFFF;
			border-bottom: 1px solid #FFFFFF;
		}
	}
}
.informationContainer__requestContainer {
	display: flex;
}
.requestContainer__title {
	margin-top: 28px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-size: 40px;
	line-height: 55px;
	text-transform: uppercase;
	color: #FFFFFF;
	max-width: 230px;
	margin-right: 16px;
}
.requestContainer__description {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	color: #FFFFFF;
	margin-top: 40px;
	margin-right: 149px;
}
.requestContainer__price {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 20px;	
	color: #FFFFFF;
	margin-top: 41px;
}
//* SECTION 13 - END *//

//* SECTION 14 *//
.section14 {
	padding: 140px 0;
	display: flex;
	flex-direction: column;
	text-align: center;
	background: url("../img/sec-14/sec-14__bg1.png") left center no-repeat, url("../img/sec-14/sec-14__bg2.png") right center no-repeat;
}
.section14___img {
	width: 1000px;
}
//* SECTION 14 - END *//

//* SECTION 15 *//
.section15 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.section15__textContainer {
	justify-content: left;
	h2 {
		margin-top: 65px;
		margin-bottom: 30px;
	}
}
.textContainer__buttonContainer {
	margin-bottom: 50px;
}
.deliveryContainer__itemsContainer {
	display: grid;
	grid-template-columns: 450px 1fr;
	grid-template-rows: 1fr;
	grid-gap: 50px;
	margin-bottom: 25px;
	h3 {
		margin-bottom: 25px;
	}
}
.connectionContainer__telephoneConntainerForm {
	position: relative;
}
.telephoneConntainerForm__imgContainer {
	position: absolute;
	right: -550px;
	top: -272px;
	img {
		width: 450px;
	}
}
.deliveryContainer__item {	
	text-align: center;
	border: 1px solid #F2F2F2;
	background: #F2F2F2;
	padding: 25px 45px;
	&:last-child {
		padding: 25px 210px 25px 45px;
		p {
			width: 330px;
		}
	}
}
.deliveryContainer__descriptior {
	margin-bottom: 25px;
	margin-left: 50px;
}
.telephoneConntainerForm__telephoneContainer {
	display: flex;
	align-items: center;
	padding: 25px 65px;
	border: 1px solid #FF6100;
	background: #FF6100;
	margin-bottom: 22px;
	h3 {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 800;
		font-size: 20px;
		line-height: 25px;
		color: #FFFFFF;
		margin-right: 85px;
	}
	h2 {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 800;
		font-size: 31px;
		line-height: 47px;
		color: #FFFFFF;
	}
}
.connectionContainer__orderContainer {
	display: flex;
	margin-left: 50px;
	justify-content: space-between;
	margin-bottom: 95px;
}
.orderContainer__description {
	p {
		max-width: 270px;
	}
}
.orderContainer__formContainer {
	display: flex;
	flex-direction: column;
	input {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 300;
		font-size: 25px;
		line-height: 26px;
		color: #828282;
		border: 1px solid #F2F2F2;
		background: #F2F2F2;
		border-radius: 50px;
		padding: 11px 37px;
		margin-bottom: 20px;
	}
	a {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 900;
		font-size: 25px;
		line-height: 26px;
		text-align: center;
		color: #FFFFFF;
		background: #FF6100;
		border-radius: 30px;
		padding: 10px 80px 10px 95px;	
	}
}
//* SECTION 15 - END *//

//* SECTION 16 *//
.section16 {
	max-width: 100%;
	background: #F2F2F2;
	display: flex;
	flex-direction: column;
	padding: 70px 0 140px 0;
}
.section16__titleContainer {
	margin-bottom: 40px;
}
.section16__sliderContainer {
	display: grid;
	grid-template-columns: repeat(4, 250px);
	grid-template-rows: 1fr;
	grid-gap: 90px;
}
.sliderContainer__item {
	img {
		width: 250px;
	}
}
.item__textContainer {
	max-width: 100%;
	background: #E0E0E0;
	padding: 15px 10px;
	h3 {
		font-weight: 900;
		font-size: 20px;
		line-height: 30px;
		text-align: center;
		color: #FF6100;
	}
	p {
		font-family: 'Montserrat';
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		text-align: center;
		color: #4F4F4F;
	}
}
.priceContainer__price {
	background: #fff;
	padding: 5px 10px;
	p {
		font-weight: 300;
		font-size: 12px;
		line-height: 15px;
		text-decoration-line: line-through;
		color: #4F4F4F;
	}
	h3 {
		font-weight: 800;
		font-size: 20px;
		line-height: 23px;
		color: #FF6100;
	}
}
.section16__buttonContainer {	
	margin-top: 80px;
	a {
		font-weight: 900;
		font-size: 25px;
		line-height: 26px;
		color: #FFFFFF;
		background: #FF6100;
		border-radius: 30px;
		padding: 10px 150px 10px 150px;
	}	
}
//* SECTION 16 - END *//

//* SECTION 17 *//
.section17 {
	background: #FF6100;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	padding: 110px 0;
}
.section17__titleContainer {
	font-weight: 400;
	font-size: 60px;
	line-height: 70px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 70px;
}
.section17__buttonsContainer {
	display: grid;
	grid-template-columns: 250px 250px 250px;
	grid-template-rows: 1fr;
	grid-gap: 50px;
	margin-bottom: 80px;
}
.buttonContainer__item {
	background-color: #FF9250;
	img {
		width: 100%;
	}
	h2 {
		padding: 20px 0;
		font-weight: 800;
		font-size: 25px;
		line-height: 30px;
		text-align: center;
		color: #FFFFFF;
	}
}
.section17__buttonNext {
	padding: 5px 70px;
	font-weight: 900;
	font-size: 20px;
	line-height: 45px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #BC0B00;
	border-radius: 40px;
}
//* SECTION 17 - END *//

//* SECTION 18 *//
.section18 {
	max-width: 100%;
	background: #F2F2F2;
	flex-direction: column;
	align-items: start;
	padding: 130px 0;
}
.section18__container {
	margin: 0 310px 0 310px;
}
.section18__formOrderContainer {
	display: flex;
	align-items: center;
	margin-bottom: 75px;
	position: relative;
}
.formOrderContainer__imgContainer {
	position: absolute;
	right: -360px;
	top: 70px;
	img {
		width: 420px;
	}
}
.formOrderContainer__title {
	margin-right: 50px;
}
.formOrderContainer__buttonContainer {
	margin-top: 10px;
}
.section18__formPriceContainer {
	margin-bottom: 120px;
}
.formPriceContainer__itemPriceContainer {
	display: flex;
	align-items: center;
	margin-bottom: 35px;
	&:last-child {
		margin: 0;
	}
}
.itemPriceContainer__kolichestvoTovara {
	display: grid;
	grid-template-columns: 30px 45px 30px;
	grid-template-rows: 1fr;
	align-items: center;
	margin-right: 35px;
	#buttonCountNumber {
		text-align: center;
		font-family: 'Montserrat';
		font-weight: 800;
		font-size: 18px;
		line-height: 30px;
		color: #FF6100;
		background: #fff;
	}
	input {
		background: #BDBDBD;
		font-weight: 600;
		font-size: 18px;
		line-height: 30px;
		text-align: center;
		color: #FFFFFF;
		cursor: pointer;
	}
}
.itemPriceContainer__informationPriceContainer {
	display: grid;
	grid-template-columns: 450px 100px 120px;
	grid-gap: 30px;
	align-items: center;
}
.informationPriceContainer__title {
	h3 {
		font-family: 'Montserrat';
		font-weight: 600;
		font-size: 22px;
		line-height: 28px;
		color: #4F4F4F;
	}
}
.informationPriceContainer__oldPrice {
	font-weight: 400;
	font-size: 22px;
	line-height: 28px;
	text-decoration-line: line-through;
	color: #FF9250;
	text-align: right;
}
.informationPriceContainer__newPrice {
	font-weight: 800;
	font-size: 22px;
	line-height: 28px;
	color: #FF6100;
	text-align: right;
}
.section18__orderButtonContainer {
	display: flex;
	align-items: end;
	margin-left: 100px;
}
.orderButtonContainer__newAndOldPriceContainer {
	margin-right: 40px;
}
.newAndOldPriceContainer__oldPrice {
	font-family: 'Montserrat';
	font-weight: 300;
	font-size: 35px;
	line-height: 44px;
	text-align: center;
	text-decoration-line: line-through;
	color: #FF9250;
}
.newAndOldPriceContainer__economPrice {
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 18px;
	line-height: 44px;
	text-align: center;
	color: #FF9250;
}
.newAndOldPriceContainer__finalPrice {
	font-family: 'Montserrat';
	font-weight: 800;
	font-size: 55px;
	line-height: 67px;
	text-align: center;
	color: #FF6100;
}
.orderButtonContainer__button {
	font-family: 'Montserrat';
	font-weight: 900;
	font-size: 20px;
	line-height: 44px;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #FF6100;
	border-radius: 38px;
	padding: 8px 50px;
}
//* SECTION 18 - END *//

//* FOOTER *//
.footerTextContainer {
	position: absolute;
	left: 20%;
	bottom: 35px;
	transform: translate(-8%);
	text-align: center;
}
.footerContainer__informationContainer {
	margin-bottom: 40px;
	ul {
		display: flex;
		align-items: center;
		li {
			font-family: 'Montserrat';
			font-weight: 600;
			font-size: 18.928px;
			line-height: 23px;
			text-transform: uppercase;
			color: #FFFFFF;
			margin-right: 65px;
			&:last-child {
				margin: 0;
				font-weight: 600;
				font-size: 31.5466px;
				line-height: 38px;
			}
			&:nth-child(3) {
				text-decoration: underline;
			}
			&:nth-child(4) {
				text-decoration: underline;
			}
			&:nth-child(5) {
				text-decoration: underline;
			}
		}
	}
}
.footerContainer__confidencialnost {
	a {
		font-family: 'Roboto';
		font-weight: 700;
		font-size: 18.928px;
		line-height: 22px;
		text-align: center;
		text-decoration-line: underline;
		text-transform: uppercase;
		color: #FFC09A;
	}
}
//* FOOTER - END *//