@charset "UTF-8";
/*---!!ОБНУЛЕНИЕ!!---*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -wedkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*------------------------------------------------------*/
main {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
}

*.container {
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1470px;
  margin: 0 auto;
}

#title-Orange {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 60px;
  line-height: 73px;
  color: #FF6100;
}

#title-Black {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 25px;
  line-height: 26px;
  color: #4F4F4F;
}

#Default-Desc {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #4F4F4F;
}

#Default-Desc-White {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

#button-Orange {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  padding: 5px 35px;
  border: 1px solid #FF6100;
  background: #FF6100;
  border-radius: 50px;
  margin-right: 19px;
}
#button-Orange:hover {
  color: #FF6100;
  background: #FFFFFF;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #FF6100;
}

#button-Gray {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  padding: 5px 25px;
  border: 1px solid #BDBDBD;
  background: #BDBDBD;
  border-radius: 50px;
}
#button-Gray:hover {
  color: #4F4F4F;
  background: #FFFFFF;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #4F4F4F;
}

header {
  padding: 25px 30px 22px 30px;
  max-width: 100%;
  background: #FF6100;
}

.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1470px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerContainer__headerListContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.headerContainer__headerListContainer:nth-child(2) li {
  margin-right: 18px;
}
.headerContainer__headerListContainer:nth-child(2) li a {
  padding: 6px 15px;
  background: #FF9250;
  border-radius: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FF6100;
}
.headerContainer__headerListContainer:nth-child(2) li a:hover {
  background: #FFFFFF;
}
.headerContainer__headerListContainer:nth-child(2) li:last-child {
  margin: 0;
}
.headerContainer__headerListContainer:nth-child(3) li {
  margin-right: 18px;
}
.headerContainer__headerListContainer:nth-child(3) li a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.headerContainer__headerListContainer:nth-child(3) li a:hover {
  text-decoration: underline;
}
.headerContainer__headerListContainer:nth-child(3) li:last-child {
  margin: 0;
}
.headerContainer__headerListContainer:nth-child(4) li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.headerContainer__headerListContainer:nth-child(4) li a {
  margin: 0 20px;
  padding: 5px 25px 6px 25px;
  background: #D30000;
  border-radius: 20px;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
}

.section1 {
  padding: 30px 0 70px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.informationAboutAvtoclav__supTitle {
  font-size: 22px;
  line-height: 27px;
  color: #FF6100;
}

.informationAboutAvtoclav__title {
  font-weight: 900;
  font-size: 92.382px;
  line-height: 85px;
  color: #FF6100;
  text-transform: uppercase;
}

.informationAboutAvtoclav__subTitle {
  font-size: 22px;
  line-height: 27px;
  color: #FF6100;
}

.informationAboutAvtoclav__listPros {
  margin-top: 30px;
  float: right;
}
.informationAboutAvtoclav__listPros li {
  font-size: 22px;
  line-height: 27px;
  color: #4F4F4F;
}
.informationAboutAvtoclav__listPros li::before {
  content: "";
  margin-right: 10px;
  background: url(../img/sec-1/section-1__hit.svg) center center no-repeat;
  padding: 15px;
}

.priceAboutAvtoclav__imgContainer {
  margin-left: -110px;
}

.section1__avtoclavImgContainer {
  z-index: -1;
}
.section1__avtoclavImgContainer img {
  left: 50%;
  -webkit-transform: translate(-20%, 0%);
      -ms-transform: translate(-20%, 0%);
          transform: translate(-20%, 0%);
  top: 30px;
  position: absolute;
}

.section1__priceAboutAvtoclav {
  z-index: 2;
}

.priceAboutAvtoclav__textContainer {
  max-width: 335px;
  text-align: center;
}

.textContainer__instructionImgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 210px;
  margin-bottom: 45px;
}
.textContainer__instructionImgContainer img {
  width: 62px;
}
.textContainer__instructionImgContainer img:last-child {
  margin-top: 15px;
}

.priceContainer__supPrice {
  font-size: 25.9254px;
  line-height: 32px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #BDBDBD;
}

.priceContainer__price {
  font-weight: 900;
  font-size: 66.9982px;
  line-height: 50px;
  color: #00A542;
}
.priceContainer__price span {
  font-weight: 300;
  font-size: 33px;
}

.priceContainer__subPrice {
  font-size: 42.2488px;
  line-height: 52px;
  color: #BDBDBD;
  text-transform: uppercase;
}

.textContainer__giftContianer {
  margin-top: 15px;
}
.textContainer__giftContianer p {
  font-weight: 800;
  font-size: 36.4905px;
  line-height: 44px;
  color: #FF6100;
}

.section2 {
  max-width: 100%;
  margin: 0 auto;
  background: url("../img/sec-2/sec-2__bg.png") center center/cover no-repeat;
  height: 583px;
}

.section2__imgContainer {
  margin-top: 83px;
}

.section2__informationContainer {
  max-width: 700px;
  margin-right: 200px;
}
.section2__informationContainer p {
  margin-top: 40px;
}

.informationContainer__title {
  margin-top: 83px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 73px;
  color: #FFFFFF;
}

.section3-container {
  max-width: 100%;
  margin: 0 auto;
}

.section3__informationContainer {
  max-width: 600px;
}
.section3__informationContainer p {
  margin-top: 40px;
}
.section3__informationContainer h2 {
  margin-top: 134px;
}

.informationContainer__buttonContainer {
  margin-top: 64px;
}

.section7 {
  max-width: 100%;
  margin: 0 auto;
  background-color: #F2F2F2;
}

.section7__purchaseContainer h2 {
  width: 581px;
  margin-top: 100px;
}
.section7__purchaseContainer input {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 26px;
  color: #828282;
  background: #FFFFFF;
  border-radius: 50px;
  padding: 11px 80px 11px 37px;
  margin-top: 43px;
}

.purchaseContainer__buttonContainer {
  margin-top: 28px;
}

.purchaseContainer__buyButton {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 26px;
  color: #FFFFFF;
  padding: 11px 153px;
  border: 1px solid #FF6100;
  background: #FF6100;
  border-radius: 50px;
  margin-top: 71px;
}

.section7__imgContainer {
  margin-top: 91px;
  position: relative;
}
.section7__imgContainer img {
  margin-right: 400px;
}
.section7__imgContainer p {
  max-width: 313px;
  position: absolute;
  right: 25%;
  top: 40%;
}

.section8 {
  max-width: 100%;
  margin: 0 auto;
}

.section8__imgContainer {
  margin-top: 118px;
}

.section8__informationContainer h2 {
  margin-top: 132px;
  margin-bottom: 25px;
}
.section8__informationContainer p {
  max-width: 528px;
  margin-bottom: 33px;
}

.informationContainer__listImgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 550px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img {
  margin-right: 62px;
}

.list li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #BDBDBD;
  margin-bottom: 12px;
}
.list li:last-child {
  margin-bottom: 0;
}
.list li::before {
  content: "";
  margin-right: 10px;
  background: url(../img/sec-1/section-1__hit.svg) center center no-repeat;
  padding: 15px;
}

.section9 {
  max-width: 100%;
  margin: 0 auto;
}

.section9__img {
  margin-top: 70px;
}

.section11 {
  max-width: 100%;
  margin: 0 auto;
  background-color: #E0E0E0;
  padding: 92px 0;
}

.contactsContainer__messagerForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.messagerForm__messager {
  margin-top: 52px;
}
.messagerForm__messager img {
  margin-right: 43px;
}

.messagers__tg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  max-width: 730px;
}

.messagers__whatsApp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.messagerForm__formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 65px;
}
.messagerForm__formContainer input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 26px;
  color: #BDBDBD;
  background: #FFFFFF;
  border-radius: 50px;
  padding: 11px 70px 11px 37px;
  margin-bottom: 34px;
}

.formContaine__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  background: #FF6100;
  border-radius: 30px;
  padding: 11px 78px 11px 95px;
}

.contact__tel {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 31.4px;
  line-height: 47px;
  color: #828282;
  padding: 0 100px;
}/*# sourceMappingURL=index.css.map */