@import "obnulenie.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

body {
	display: flex;
	max-width: 100%;
	flex-direction: column;
}
main {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	flex: 1 1 auto;
}
*.container {
	padding: 0 30px;
	display: flex;
	justify-content: space-between;
	max-width: 1470px;
	margin: 0 auto;
}

//! MIXINS !//
@mixin Orange {
	font-family: 'Montserrat';
	font-weight: 800;
	font-size: 60px;
	line-height: 73px;
	color: #FF6100;
}
@mixin Black {
	font-family: 'Montserrat';
	font-weight: 900;
	font-size: 25px;
	line-height: 26px;
	color: #4F4F4F;
}
@mixin Default-Desc {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
	color: #4F4F4F;
}
@mixin Default-Desc-White {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
	color: #FFFFFF;
}
@mixin Button-Orange {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 26px;
	color: #FFFFFF;
	padding: 5px 35px;
	border: 1px solid #FF6100;
	background: #FF6100;
	border-radius: 50px;
	margin-right: 19px;
	&:hover {
		color: #FF6100;
		background: #FFFFFF;
		transition: 0.5s;
		border: 1px solid #FF6100;
	}
}
@mixin Button-Gray {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 26px;
	color: #FFFFFF;
	padding: 5px 25px;
	border: 1px solid #BDBDBD;
	background: #BDBDBD;
	border-radius: 50px;
	&:hover {
		color: #4F4F4F;
		background: #FFFFFF;
		transition: 0.5s;
		border: 1px solid #4F4F4F;
	}
}
//! MIXINS - END !//

//? ID ?//
#title-Orange {
	@include Orange
}
#title-Black {
	@include Black
}
#Default-Desc {
	@include Default-Desc
}
#Default-Desc-White {
	@include Default-Desc-White
}
#button-Orange {
	@include Button-Orange
}
#button-Gray {
	@include Button-Gray
}
//? ID - END ?//

//* HEADER *//
header {
	padding: 25px 30px 22px 30px;
	max-width: 100%;
	background: #FF6100;
}
.headerContainer {
	display: flex;
	max-width: 1470px;
	justify-content: space-between;
	margin: 0 auto;
	align-items: center;
}
.headerContainer__headerListContainer {
	display: flex;
	&:nth-child(2) {
		li {
			margin-right: 18px;
			a {
				padding: 6px 15px;
				background: #FF9250;
				border-radius: 30px;
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 20px;
				text-align: center;
				color: #FF6100;
				&:hover {
					background: #FFFFFF;
				}
			}
			&:last-child {
				margin: 0;
			}
		}
	}
	&:nth-child(3) {
		li {
			margin-right: 18px;
			a {
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 20px;
				color: #FFFFFF;
				&:hover {
					text-decoration: underline;
				}
			}
			&:last-child {
				margin: 0;
			}
		}
	}
	&:nth-child(4) {
		li {
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 800;
			font-size: 16px;
			line-height: 20px;
			color: #FFFFFF;
			a {
				margin: 0 20px;
				padding: 5px 25px 6px 25px;
				background: #D30000;
				border-radius: 20px;
				font-family: 'Roboto';
				font-weight: 900;
				font-size: 20px;
				line-height: 23px;
				text-align: center;
				color: #FFFFFF;
			}
		}
	}
}
//* HEADER - END *//

//* SECTION 1 *//
.section1 {
	padding: 30px 0 70px 0;
	align-items: center;
	position: relative;
}
.informationAboutAvtoclav__supTitle {
	font-size: 22px;
	line-height: 27px;
	color: #FF6100;
}
.informationAboutAvtoclav__title {
	font-weight: 900;
	font-size: 92.382px;
	line-height: 85px;
	color: #FF6100;
	text-transform: uppercase;
}
.informationAboutAvtoclav__subTitle {
	font-size: 22px;
	line-height: 27px;
	color: #FF6100;
}
.informationAboutAvtoclav__listPros { //todo: Добавить в список боковые картинки "ХИТ!" //
	margin-top: 30px;
	float: right;
	li {
		font-size: 22px;
		line-height: 27px;
		color: #4F4F4F;
		&::before {
			content: "";
			margin-right: 10px;
			background: url(../img/sec-1/section-1__hit.svg) center center no-repeat;
			padding: 15px;
		}
	}
}
.priceAboutAvtoclav__imgContainer {
	margin-left: -110px;
}
.section1__avtoclavImgContainer {
	z-index: -1;
	img {
		left: 50%;
		transform: translate(-20%, -0%);
		top: 30px;
		position: absolute;
	}
}
.section1__priceAboutAvtoclav {
	z-index: 2;
}
.priceAboutAvtoclav__textContainer {
	max-width: 335px;
	text-align: center;
}
.textContainer__instructionImgContainer {
	display: flex;
	flex-direction: column;
	margin-left: 210px;
	margin-bottom: 45px;
	img {
		width: 62px;
		&:last-child {
			margin-top: 15px;
		}
	}
}
.priceContainer__supPrice {
	font-size: 25.9254px;
	line-height: 32px;
	text-decoration-line: line-through;
	color: #BDBDBD;
}
.priceContainer__price {
	font-weight: 900;
	font-size: 66.9982px;
	line-height: 50px;
	color: #00A542;
	span {
		font-weight: 300;
		font-size: 33px;
	}
}
.priceContainer__subPrice {
	font-size: 42.2488px;
	line-height: 52px;
	color: #BDBDBD;
	text-transform: uppercase;
}
.textContainer__giftContianer {
	margin-top: 15px;
	p {
		font-weight: 800;
		font-size: 36.4905px;
		line-height: 44px;
		color: #FF6100;
	}
}
//* SECTION 1 - END *//

//* SECTION 2 *//
.section2 {
	max-width: 100%;
	margin: 0 auto;
	background: url('../img/sec-2/sec-2__bg.png') center center/cover no-repeat;
	height: 583px;
}
.section2__imgContainer {
	margin-top: 83px;
}
.section2__informationContainer {
	max-width: 700px;
	margin-right: 200px;
	p {
		margin-top: 40px;
	}
}
.informationContainer__title {
	margin-top: 83px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-size: 60px;
	line-height: 73px;
	color: #FFFFFF;
}
//* SECTION 2 - END *//

//* SECTION 3 *//
.section3 {
	max-width: 100%;
	margin: 0 auto;
}
.section3__informationContainer {
	max-width: 600px;
	p {
		margin-top: 40px;
	}
	h2 {
		margin-top: 134px;
	}
}
.informationContainer__buttonContainer {
	margin-top: 64px;
}

//* SECTION 3 - END *//

//* SECTION 4 *//
.section4 {
}
.section4__sliderContainer {
}
.sliderContainer__item {
}
.section4__classicInformationContainer {
}
.classicInformationContainer__title {
}
.classicInformationContainer__description {
}
.classicInformationContainer__strongDescription {
}
.classicInformationContainer__buttonContainer {
}
//* SECTION 4 - END *//

//* SECTION 5 *//
.section5 {
	padding: 140px 0;
	display: flex;
	align-items: center;
}
.section5__informationContainer {
	margin-right: 40px;
	h2 {
		margin-bottom: 40px;
	}
	h3 {
		margin-bottom: 40px;
	}
}
.informationContainer__buttonContainer {
	margin-top: 175px;
}
.section5__imgContainer {
	width: 510px;
	border: 1px solid #E0E0E0;
	img {
		width: 510px;
	}
}
//* SECTION 5 - END *//

//* SECTION 6 *//
.section6 {
	display: flex;
	padding: 140px 0;
}
.section6__imgContainer {
	margin-right: 125px;
	position: relative;
	.imgContainer__sliderContainer {
		width: 510px;
		border: 1px solid #E0E0E0;
		img {
			width: 508px;
		}
	}
	.imgContainer__likeDecoration {
		position: absolute;
		left: 35px;
		top: 35px;
	}
}
.section6__informationContainer {
	h2 {
		margin-bottom: 40px;
	}
	p {
		margin-bottom: 45px;
		&:last-child {
			margin: 0;
		}
	}
}
//* SECTION 6 - END *//

//* SECTION 7 *//
.section7 {
	max-width: 100%;
	margin: 0 auto;
	background-color: #F2F2F2;
}
.section7__purchaseContainer {
	h2 {
		width: 581px;
		margin-top: 100px;
	}
	input {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 300;
		font-size: 25px;
		line-height: 26px;
		color: #828282;
		background: #FFFFFF;
		border-radius: 50px;
		padding: 11px 80px 11px 37px;
		margin-top: 43px;
	}
}
.purchaseContainer__buttonContainer {
	margin-top: 28px;
}
.purchaseContainer__buyButton {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 900;
	font-size: 25px;
	line-height: 26px;
	color: #FFFFFF;
	padding: 11px 153px;
	border: 1px solid #FF6100;
	background: #FF6100;
	border-radius: 50px;
	margin-top: 71px;
}
.section7__imgContainer {
	margin-top: 91px;
	position: relative;
	img {
		margin-right: 400px;
	}
	p {
		max-width: 313px;
		position: absolute;
		right: 25%;
		top: 40%;
	}
}
//* SECTION 7 - END *//

//* SECTION 8 *//
.section8 {
	max-width: 100%;
	margin: 0 auto;
}
.section8__imgContainer {
	margin-top: 118px;
}
.section8__informationContainer {
	h2 {
		margin-top: 132px;
		margin-bottom: 25px;
	}
	p {
		max-width: 528px;
		margin-bottom: 33px;
	}
}
.informationContainer__listImgContainer {
	display: flex;
	max-width: 550px;
	align-items: center;
}
.img {
	margin-right: 62px;
}
.list {
	li {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 22px;
		line-height: 27px;
		color: #BDBDBD;
		margin-bottom: 12px;
		&:last-child {
			margin-bottom: 0;
		}
		&::before {
			content: "";
			margin-right: 10px;
			background: url(../img/sec-1/section-1__hit.svg) center center no-repeat;
			padding: 15px;
		}
	}
}
//* SECTION 8 - END *//

//* SECTION 9 *//
.section9 {
	display: flex;
	justify-content: center;
}
.section9__img {
	margin-top: 70px;
	width: 1300px;
}
//* SECTION 9 - END *//

//* SECTION 10 *//
.section10 {
}
.section10__title {
}
.section10__bookContainer {
}
.bookContainer__itemsBookContainer {
}
.itemsBookContainer__itemBook {
}
.itemBook__infoContainer {
}
.itemBook__title {
}
.itemBook__subTitle {
}
.itemBook__imgContainer {
}
.itemBook__ingredientsTabletContainer {
}
.ingredientsTabletContainer__item {
}
.itemBook__informationContainer {
}
//* SECTION 10 - END *//

//* SECTION 11 *//
.section11 {
	max-width: 100%;
	margin: 0 auto;
	background-color: #E0E0E0;
	padding: 92px 0;
}
.contactsContainer__messagerForm {
	display: flex;
	align-items: center;
}
.messagerForm__messager {
	margin-top: 52px;
	img {
		margin-right: 43px;
	}
}
.messagers__tg {
	display: flex;
	align-items: center;
	margin-bottom: 25px;
	max-width: 730px;
}
.messagers__whatsApp {
	display: flex;
	align-items: center;
	margin-bottom: 25px;
}
.messagerForm__formContainer {
	display: flex;
	flex-direction: column;
	margin-top: 65px;
	input {
		display: flex;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 300;
		font-size: 25px;
		line-height: 26px;
		color: #BDBDBD;
		background: #FFFFFF;
		border-radius: 50px;
		padding: 11px 70px 11px 37px;
		margin-bottom: 34px;
	}
}
.formContaine__button {
	display: flex;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 900;
	font-size: 25px;
	line-height: 26px;
	text-align: center;
	color: #FFFFFF;
	background: #FF6100;
	border-radius: 30px;
	padding: 11px 78px 11px 95px;
}
.contact__tel {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-size: 31.4px;
	line-height: 47px;
	color: #828282;
	padding: 0 100px;
}
//* SECTION 11 - END *//

//* SECTION 12 *//
.section12 {
}
.section12__img {
}
.section12__informationContainer {
}
.informationContainer__title {
}
.informationContainer__list {
}
.informationContainer__buttonContainer {
}
//* SECTION 12 - END *//

//* SECTION 13 *//
.section13 {
}
.section13__informationContainer {
}
.informationContainer__highContainer {
}
.highContainer__title {
}
.highContainer__1img {
}
.highContainer__2img {
}
.informationContainer__formContainer {
}
.formContainer__inputContainer {
}
.formContainer__button {
}
.formContainer__condition {
}
.informationContainer__requestContainer {
}
.requestContainer__title {
}
.requestContainer__description {
}
.requestContainer__price {
}
//* SECTION 13 - END *//

//* SECTION 14 *//
.section14 {
}
.section14__title {
}
.section14___img {
}
//* SECTION 14 - END *//

//* SECTION 15 *//
.section15 {
}
.section15__textContainer {
}
.textContainer__buttonContainer {
}
.section15__deliveryContainer {
}
.deliveryContainer__itemsContainer {
}
.deliveryContainer__item {
}
.deliveryContainer__descriptior {
}
.section15__connectionContainer {
}
.connectionContainer__telepfoneContainer {
}
.connectionContainer__orderContainer {
}
.orderContainer__description {
}
.orderContainer__formContainer {
}
//* SECTION 15 - END *//

//* SECTION 16 *//
.section16 {
}
.section16__titleContainer {
}
.section16__sliderContainer {
}
.sliderContainer__item {
}
.item__textContainer {
}
.item__priceContainer {
}
.priceContainer__price {
}
.priceContainer__order {
}
.section16__buttonContainer {
}
//* SECTION 16 - END *//

//* SECTION 17 *//
.section17 {
}
.section17__titleContainer {
}
.section17__buttonContainer {
}
.buttonContainer__item {
}
.section17__buttonNext {
}
//* SECTION 17 - END *//

//* SECTION 18 *//
.section18 {
}
.section18__formOrderContainer {
}
.formOrderContainer__title {
}
.formOrderContainer__buttonContainer {
}
.section18__formPriceContainer {
}
.formPriceContainer__itemPriceContainer {
}
.itemPriceContainer__informationPriceContainer {
}
.informationPriceContainer__title {
}
.informationPriceContainer__oldPrice {
}
.informationPriceContainer__newPrice {
}
.section18__orderButtonContainer {
}
.orderButtonContainer__newAndOldPriceContainer {
}
.newAndOldPriceContainer__oldPrice {
}
.newAndOldPriceContainer__economPrice {
}
.newAndOldPriceContainer__finalPrice {
}
.orderButtonContainer__button {
}
//* SECTION 18 - END *//

//* SECTION 19 *//
.section19 {
}
.section19__titleContainer {
}
.section19__sliderContainer {
}
.sliderContainer__itemVideo {
}
//* SECTION 19 - END *//

//* FOOTER *//
.footerContainer {
}
.footerContainer__informationContainer {
}
.footerContainer__confidencialnost {
}
//* FOOTER - END *//