@charset "UTF-8";
/*---!!ОБНУЛЕНИЕ!!---*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -wedkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*------------------------------------------------------*/
body {
  font-family: "Jost";
  min-width: 320px;
  min-height: 100vh;
  background-color: #EEEFF1;
}

img, svg {
  display: block;
}

/* jost-regular - cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/jost-v14-cyrillic-regular.woff2") format("woff2"), url("../fonts/jost-v14-cyrillic-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* jost-500 - cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/jost-v14-cyrillic-500.woff2") format("woff2"), url("../fonts/jost-v14-cyrillic-500.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* jost-700 - cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/jost-v14-cyrillic-700.woff2") format("woff2"), url("../fonts/jost-v14-cyrillic-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

p[class$=_description], [class$=_subTitle] {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #707070;
}

h2[class$=_title] {
  font-weight: 700;
  font-size: 48px;
  line-height: 69px;
  text-transform: uppercase;
  color: #1B1B1D;
}

h3[class$=_title] {
  font-weight: 500;
  font-size: 32px;
  line-height: 26px;
  text-transform: uppercase;
  color: #1B1B1D;
}

a[class$=_black] {
  width: 198px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12.5px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #1B1B1D;
  -webkit-box-shadow: 0px 30px 60px rgba(163, 168, 179, 0.15);
          box-shadow: 0px 30px 60px rgba(163, 168, 179, 0.15);
  border-radius: 63px;
}

a[class$=_white] {
  width: 198px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12.5px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #1B1B1D;
  border: 2px solid #1B1B1D;
  -webkit-filter: drop-shadow(0px 30px 60px rgba(163, 168, 179, 0.15));
          filter: drop-shadow(0px 30px 60px rgba(163, 168, 179, 0.15));
  border-radius: 63px;
}

p[class$=_information] {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #1B1B1D;
}

.header {
  max-width: 100%;
  height: 100px;
  margin-bottom: 112px;
}

.header__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;
}

.header__navigationContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigationContainer__headerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigationContainer__headerMenu li {
  margin-right: 60px;
}
.navigationContainer__headerMenu li:last-child {
  margin: 0;
}

.headerMenu_headerLink {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #1B1B1D;
}
.headerMenu_headerLink:hover {
  border-bottom: 2px solid #1B1B1D;
}

.section1 {
  max-width: 100%;
  background: url("../img/bg.svg") bottom center/cover no-repeat;
  padding-bottom: 150px;
}

.section1__textContainer_title {
  font-weight: 700;
  font-size: 64px;
  line-height: 70px;
  text-transform: uppercase;
  color: #1B1B1D;
  margin-bottom: 35px;
}

.section1__textContainer_subTitle {
  margin-bottom: 50px;
}

.section1__textContainer__buttonsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buttonsContainer_black {
  margin-right: 60px;
}

.section2 {
  max-width: 100%;
  margin-top: 110px;
  position: relative;
}
.section2::before {
  content: url("../img/bg_1.png");
  position: absolute;
  left: 0;
  top: -100px;
}
.section2::after {
  content: url("../img/bg_2.png");
  position: absolute;
  bottom: -600px;
  right: 0;
}

.section2__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section2_title {
  margin-bottom: 10px;
}

.section2_subTitle {
  max-width: 630px;
  margin: 0 auto 122px auto;
  text-align: center;
}

.section2__itemsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.2));
}

.itemsContainer_item {
  background: -o-linear-gradient(297.91deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 100%);
  background: linear-gradient(152.09deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 100%);
  -webkit-filter: drop-shadow(0px 30px 60px rgba(163, 168, 179, 0.15));
          filter: drop-shadow(0px 30px 60px rgba(163, 168, 179, 0.15));
  border-radius: 24px;
  width: 395px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 70px;
  padding: 45px 65px;
  text-align: center;
}
.itemsContainer_item:last-child {
  margin: 0;
}

.item_title {
  margin-bottom: 25px;
}

.item_subTitle {
  margin-bottom: 33px;
}

.item_kubikImg {
  width: 140px;
  color: #64646A;
  margin-bottom: 50px;
}

.section3 {
  max-width: 100%;
  margin-top: 250px;
  margin-bottom: 141px;
}

.section3__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section3_title {
  margin-bottom: 10px;
}

.section3_subTitle {
  max-width: 640px;
  margin: 0 auto 90px auto;
  text-align: center;
}

.section3__informationContainer {
  display: grid;
  grid-template-columns: 1fr 660px;
  grid-gap: 100px;
}

.section3__designation {
  background: #FFFFFF;
  -webkit-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 60px;
  padding: 60px 74px;
  width: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.designation_information:first-child {
  margin-bottom: 44px;
}

.designation_list {
  margin-top: 25px;
}
.designation_list li {
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #1B1B1D;
}

.section3__itemsContainer_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 81px;
}
.section3__itemsContainer_item:last-child {
  margin-bottom: 0;
}

.section3__item_img {
  width: 134px;
  height: 132px;
  margin-right: 46px;
}

.item_subTitle-sec3_information {
  min-width: 480px;
}

.section4 {
  max-width: 100%;
  background-color: #FFFFFF;
}

.section4__container {
  padding: 104px 60px 116px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section4_title {
  margin-bottom: 10px;
}

.section4_subTitle {
  text-align: center;
  max-width: 782px;
  margin: 0 auto 90px;
}

.section4_mainParts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainParts_edgecorner_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 118px;
  margin-bottom: 70px;
}

.mainParts_item {
  background: #EEEFF1;
  -webkit-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 34px;
  width: 601px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 46px 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item_subTitle_information {
  width: 315px;
}

.item_img {
  margin: 0;
}

.section5 {
  max-width: 100%;
}

.section5__container {
  padding: 124px 0 196px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section5_title {
  margin-bottom: 10px;
}

.section5_subTitle {
  width: 715px;
  margin: 0 auto 74px;
  text-align: center;
}

.section5_imgItemsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.section5__item_img {
  margin-bottom: 30px;
}

.section5__item_title-big {
  font-weight: 500;
  font-size: 48px;
  line-height: 69px;
  text-align: center;
  text-transform: uppercase;
  color: #1B1B1D;
}

.section5_description_postInf {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  color: #000000;
}

.footer {
  max-width: 100%;
  background-color: #FFFFFF;
}

.footer__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: grid;
  grid-template-columns: 295px 289px 114px 138px 118px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_title {
  margin-bottom: 25px;
}

.contactsContainer__list li {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #707070;
  margin-bottom: 15px;
}
.contactsContainer__list li:last-child {
  margin-bottom: 0;
}

.footer_link {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #707070;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
}
.footer_link:hover {
  color: #1B1B1D;
}

.footer__menuContainer li {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #707070;
  margin-bottom: 15px;
}
.footer__menuContainer li:last-child {
  margin-bottom: 0;
}

.footer__kubikiContainer li {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #707070;
  margin-bottom: 15px;
}
.footer__kubikiContainer li:last-child {
  margin-bottom: 0;
}

.footer__lessonsContainer li {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #707070;
  margin-bottom: 15px;
}
.footer__lessonsContainer li:last-child {
  margin-bottom: 0;
}

.footer__secondFooterContainer {
  max-width: 1440px;
  margin: 0 auto;
  border-top: 2px solid rgba(112, 112, 112, 0.45);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
}