@import "obnulenie.scss";
@import "default.scss";
@import "fonts.scss";

@mixin headerLink {
	font-weight: 400;
	font-size: 20px;
	line-height: 29px;
	color: #1B1B1D;
	&:hover {
		border-bottom: 2px solid #1B1B1D;
	}
}
@mixin footerLink {
	font-weight: 400;
	font-size: 20px;
	line-height: 29px;
	color: #707070;
	transition: 200ms;
	&:hover {
		color: #1B1B1D;
	}
}
@mixin footerMenu {
	li {
		font-weight: 400;
		font-size: 20px;
		line-height: 29px;
		color: #707070;
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
p[class$=_description],[class$=_subTitle] {
	font-weight: 400;
	font-size: 20px;
	line-height: 29px;
	color: #707070;
}
h2[class$=_title] {
	font-weight: 700;
	font-size: 48px;
	line-height: 69px;
	text-transform: uppercase;
	color: #1B1B1D;
}
h3[class$=_title] {
	font-weight: 500;
	font-size: 32px;
	line-height: 26px;
	text-transform: uppercase;
	color: #1B1B1D;
}
a[class$=_black] {
	width: 198px;
	display: flex;
	justify-content: center;
	padding: 12.5px 0;
	align-items: center;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #1B1B1D;
	box-shadow: 0px 30px 60px rgba(163, 168, 179, 0.15);
	border-radius: 63px;
}
a[class$=_white] {
	width: 198px;
	display: flex;
	justify-content: center;
	padding: 12.5px 0;
	align-items: center;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-transform: uppercase;
	color: #1B1B1D;
	border: 2px solid #1B1B1D;
	filter: drop-shadow(0px 30px 60px rgba(163, 168, 179, 0.15));
	border-radius: 63px;
}
p[class$=_information] {
	font-weight: 400;
	font-size: 20px;
	line-height: 29px;
	color: #1B1B1D;
}

//* HEADER *//
.header {
	max-width: 100%;
	height: 100px;
	margin-bottom: 112px;
}
.header__container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 60px;
}
.header__navigationContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navigationContainer__headerMenu {
	display: flex;
	align-items: center;
	li {
		margin-right: 60px;
		&:last-child {
			margin: 0;
		}
	}
}
.headerMenu_headerLink {
	@include headerLink;
}
//* HEADER - END *//

//* SECTION_1 *//
.section1 {
	max-width: 100%;
	background: url("../img/bg.svg") bottom center/cover no-repeat;
	padding-bottom: 150px;
}
.section1__textContainer_title {
	font-weight: 700;
	font-size: 64px;
	line-height: 70px;
	text-transform: uppercase;
	color: #1B1B1D;
	margin-bottom: 35px;
}
.section1__textContainer_subTitle {
	margin-bottom: 50px;
}
.section1__textContainer__buttonsContainer {
	display: flex;
}
.buttonsContainer_black {
	margin-right: 60px;
}
//* SECTION_1 - END *//

//* SECTION_2 *//
.section2 {
	max-width: 100%;
	margin-top: 110px;
	position: relative;
	&::before {
		content: url("../img/bg_1.png");
		position: absolute;
		left: 0;
		top: -100px;
	}
	&::after {
		content: url("../img/bg_2.png");
		position: absolute;
		bottom: -600px;
		right: 0;
	}
}
.section2__container {
	flex-direction: column;
}
.section2_title {
	margin-bottom: 10px;
}
.section2_subTitle {
	max-width: 630px;
	margin: 0 auto 122px auto;
	text-align: center;
}
.section2__itemsContainer {
	display: flex;
	align-items: center;
	filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.2));
}
.itemsContainer_item {
	background: linear-gradient(152.09deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 100%);
	filter: drop-shadow(0px 30px 60px rgba(163, 168, 179, 0.15));
	border-radius: 24px;
	width: 395px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 70px;
	padding: 45px 65px;
	text-align: center;
	&:last-child {
		margin: 0;
	}
}
.item_title {
	margin-bottom: 25px;
}
.item_subTitle {
	margin-bottom: 33px;
}
.item_kubikImg {
	width: 140px;
	color: #64646A;
	margin-bottom: 50px;
}
//* SECTION_2 - END *//

//* SECTION_3 *//
.section3 {
	max-width: 100%;
	margin-top: 250px;
	margin-bottom: 141px;
}
.section3__container {
	flex-direction: column;
	align-items: center;
}
.section3_title {
	margin-bottom: 10px;
}
.section3_subTitle {
	max-width: 640px;
	margin: 0 auto 90px auto;
	text-align: center;
}
.section3__informationContainer {
	display: grid;
	grid-template-columns: 1fr 660px;
	grid-gap: 100px;
}
.section3__designation {
	background: #FFFFFF;
	box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
	border-radius: 60px;
	padding: 60px 74px;
	width: 560px;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
}
.designation_information {
	&:first-child {
		margin-bottom: 44px;
	}
}
.designation_list {
	margin-top: 25px;
	li {
		font-style: italic;
		font-weight: 400;
		font-size: 20px;
		line-height: 29px;
		color: #1B1B1D;
	}
}
.section3__itemsContainer_item {
	display: flex;
	align-items: center;
	margin-bottom: 81px;
	&:last-child {
		margin-bottom: 0;
	}
}
.section3__item_img {
	width: 134px;
	height: 132px;
	margin-right: 46px;
}
.item_subTitle-sec3_information {
	min-width: 480px;
}
//* SECTION_3 - END *//

//* SECTION_4 *//
.section4 {
	max-width: 100%;
	background-color: #FFFFFF;
}
.section4__container {
	padding: 104px 60px 116px;
	flex-direction: column;
}
.section4_title {
	margin-bottom: 10px;
}
.section4_subTitle {
	text-align: center;
	max-width: 782px;
	margin: 0 auto 90px;
}
.section4_mainParts {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.mainParts_edgecorner_item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 118px;
	margin-bottom: 70px;
}
.mainParts_item {
	background: #EEEFF1;
	box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
	border-radius: 34px;
	width: 601px;
	display: flex;
	align-items: center;
	padding: 46px 60px;
	justify-content: space-between;
}
.item_subTitle_information {
	width: 315px;
}
.item_img {
	margin: 0;
}
//* SECTION_4 - END *//

//* SECTION_5 *//
.section5 {
	max-width: 100%;
}
.section5__container {
	padding: 124px 0 196px;
	flex-direction: column;
}
.section5_title {
	margin-bottom: 10px;
}
.section5_subTitle {
	width: 715px;
	margin: 0 auto 74px;
	text-align: center;
}
.section5_imgItemsContainer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 90px;
	align-items: center;
	margin-bottom: 50px;
}
.section5__item_img {
	margin-bottom: 30px;
}
.section5__item_title-big {
	font-weight: 500;
	font-size: 48px;
	line-height: 69px;
	text-align: center;
	text-transform: uppercase;
	color: #1B1B1D;
}
.section5_description_postInf {
	font-weight: 500;
	font-size: 20px;
	line-height: 29px;
	text-align: center;
	color: #000000;
}
//* SECTION_5 - END *//

//* FOOTER *//
.footer {
	max-width: 100%;
	background-color: #FFFFFF;
}
.footer__container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 60px 60px;
	align-items: center;
	display: grid;
	grid-template-columns: 295px 289px 114px 138px 118px;
	justify-content: space-between;
}
.footer_title {
	margin-bottom: 25px;
}
.contactsContainer__list {
	@include footerMenu;
}
.footer_link {
	@include footerLink;
}
.footer__menuContainer {
	@include footerMenu;
}
.footer__kubikiContainer {
	@include footerMenu;
}
.footer__lessonsContainer {
	@include footerMenu;
}
.footer__secondFooterContainer {
	max-width: 1440px;
	margin: 0 auto;
	border-top: 2px solid rgba(112, 112, 112, 0.45);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px 0;
}
//* FOOTER - END *//