@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

:root {
	ul {
		list-style: none;
	}
	a {
		text-decoration: none;
	}
}

header {
	position: fixed;
	width: 100%;
	z-index: 10;
	padding: 40px 0;
	.headerContainer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1720px;
		margin: 0 auto;
		.header__logo {
		}
		.header__menu {
			display: flex;
			li {
				margin-right: 65px;
				&:last-child {
					margin-right: 0;
				}
				a {
					font-family: 'Jost';
					font-weight: 400;
					font-size: 20px;
					line-height: 29px;
					color: #DDDDDD;
					&:hover {
						border-bottom: 2px solid #DDDDDD;
					}
				}
			}
		}
	}
}
.section1 {
	color: #fff;
	background: url('../img/bg.png')center center/cover no-repeat;
	.section1Container {
		max-width: 1480px;
		height: 100%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		position: relative;
		.section1__title {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-85%);
			font-family: 'Audiowide';
			font-weight: 400;
			font-size: 200px;
			color: #DDDDDD;
			text-shadow: 0px 0px 25px rgba(221, 221, 221, 0.25);
			margin: 0;
		}
		.section1__text {
			max-width: 685px;
			position: absolute;
			bottom: 3em;
			h2 {
				font-family: 'Jost';
				font-weight: 700;
				font-size: 20px;
				line-height: 29px;
				letter-spacing: 0.02em;
				color: #DDDDDD;
				margin-bottom: 25px;
			}
			p:first-child {
				margin-bottom: 15px;
			}
			p {
				font-family: 'Jost';
				font-weight: 400;
				font-size: 20px;
				line-height: 29px;
				letter-spacing: 0.02em;
				color: #DDDDDD;
			}
		}
	}
}
.section2 {
	color: #fff;
	background: url('../img/bg.png')center center/cover no-repeat;
	.section2Container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1480px;
		margin: 0 auto;
	}
}