@charset "UTF-8";
/*---!!ОБНУЛЕНИЕ!!---*/
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -wedkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*------------------------------------------------------*/
body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 400;
  font-family: "Jost";
  overflow-x: hidden;
  background: -o-linear-gradient(276.66deg, #FFFFFF 0%, #FFFFFF 0%, rgba(243, 244, 245, 0.2) 11.74%, #F3F4F5 27.92%, rgba(243, 244, 245, 0) 44.79%, rgba(243, 244, 245, 0.68) 60.42%, #F3F4F5 79.17%, #FFFFFF 100%);
  background: linear-gradient(173.34deg, #FFFFFF 0%, #FFFFFF 0%, rgba(243, 244, 245, 0.2) 11.74%, #F3F4F5 27.92%, rgba(243, 244, 245, 0) 44.79%, rgba(243, 244, 245, 0.68) 60.42%, #F3F4F5 79.17%, #FFFFFF 100%);
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/* Слайдер */
.slick-slider {
  position: relative;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */
.slick-slider {
  max-width: 500px;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  position: absolute;
  font-size: 0;
  left: 1050px;
  bottom: 200px;
  background: url("../img/sec-6/sec-6__arrowBack.png");
  padding: 60px;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  position: absolute;
  font-size: 0;
  left: 1140px;
  bottom: 200px;
  background: url("../img/sec-6/sec-6__arrowNext.png");
  padding: 60px;
}

#title {
  font-weight: 800;
  font-size: 64px;
  line-height: 70px;
  color: #1B1B1D;
}

#decription {
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #64646A;
}

.header {
  max-width: 100%;
  padding: 25px 60px;
  background: #EEEFF1;
}

.header__container {
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__navigationContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigationContainer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigationContainer__list li {
  margin-right: 40px;
}
.navigationContainer__list li a {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #1B1B1D;
}

.navigationContainer__shopButtonsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shopButtonsContainer__buttonIco {
  margin-right: 20px;
  padding: 18px;
  border-radius: 50%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 30px 60px rgba(163, 168, 179, 0.15);
          box-shadow: 0px 30px 60px rgba(163, 168, 179, 0.15);
}

.shopButtonsContainer__buttonBuy {
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #1B1B1D;
  -webkit-box-shadow: 0px 30px 60px rgba(163, 168, 179, 0.15);
          box-shadow: 0px 30px 60px rgba(163, 168, 179, 0.15);
  border-radius: 63px;
  padding: 15px 30px;
}

.section-1 {
  max-width: 100%;
  padding: 100px 60px;
  background: #EEEFF1;
}

.section-1__container {
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-1__textContainer {
  width: 610px;
}

.textContainer__title {
  font-weight: 800;
  font-size: 124px;
  line-height: 140px;
  color: #1B1B1D;
  margin-bottom: 30px;
  position: relative;
}
.textContainer__title::after {
  content: "";
  position: absolute;
  background: url("../img/sec-1/sec-1__cafeCountrywide.png") center center/73px no-repeat;
  padding: 29px 37px;
  bottom: 26px;
  right: 100px;
}

.textContainer__buttonContainer {
  margin-top: 60px;
}

.buttonContainer__black {
  margin-right: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #1B1B1D;
  border-radius: 126px;
  padding: 20px 40px;
}

.buttonContainer__white {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #1B1B1D;
  border-bottom: 1px solid #1B1B1D;
}

.section-1__imgContainer {
  position: relative;
}
.section-1__imgContainer::after {
  content: url("../img/sec-1/sec-1__cafeCountrywide.png");
  position: absolute;
  right: 0;
  top: 0;
}

.imgContainer__coffeeCup {
  width: 100%;
  height: 100%;
}

.imgContainer__formContainer {
  position: absolute;
  left: 25px;
  bottom: 200px;
  width: 300px;
}

.imgContainer__ratingImgContainer {
  position: absolute;
  left: 25px;
  bottom: 200px;
}

.section-2 {
  max-width: 100%;
  position: relative;
  padding: 150px 0 0;
}
.section-2::before {
  content: url("../img/sec-2/decorationCup.png");
  position: absolute;
  top: 0;
  left: 0;
}

.section-2__container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-2__titleContainer {
  text-align: center;
}
.section-2__titleContainer h2 {
  margin-bottom: 25px;
}
.section-2__titleContainer P {
  margin-bottom: 90px;
}

.section-2__alowishusItemContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.alowishusItemContainer__alowishusItem {
  background: -o-linear-gradient(297.91deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(152.09deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 24px;
  -webkit-filter: drop-shadow(0px 30px 60px rgba(163, 168, 179, 0.15));
          filter: drop-shadow(0px 30px 60px rgba(163, 168, 179, 0.15));
  padding: 40px;
}

.alowishusItem__informationContainer {
  margin-bottom: 60px;
}
.alowishusItem__informationContainer h3 {
  font-weight: 600;
  font-size: 36px;
  line-height: 52px;
  color: #1B1B1D;
  margin-bottom: 10px;
}

.alowishusItem__imgAndButtonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.alowishusItem__imgAndButtonContainer img {
  width: 150px;
  margin-bottom: 60px;
}
.alowishusItem__imgAndButtonContainer a {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #1B1B1D;
  border-radius: 126px;
  padding: 15px 0;
  text-align: center;
  width: 255px;
}

.section-3 {
  max-width: 100%;
  padding: 170px 0 0 0;
}

.section-3__container {
  max-width: 1300px;
  padding: 0 30px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 520px;
  grid-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-3__imgContainer img {
  width: 100%;
  height: 100%;
}

.section-3__textContainer h2 {
  margin-bottom: 30px;
}
.section-3__textContainer p {
  margin-bottom: 80px;
}
.section-3__textContainer a {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #1B1B1D;
  border-radius: 126px;
  padding: 20px 40px;
}

.section-4 {
  max-width: 100%;
  padding: 220px 0 130px 0;
  background: url("../img/sec-4/sec-4__bg.png") top right no-repeat;
}

.section-4__container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-4__titleContainer {
  text-align: center;
  margin-bottom: 200px;
}
.section-4__titleContainer h2 {
  margin-bottom: 25px;
}

.section-4__productItemContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.productItemContainer__productItem {
  background: -o-linear-gradient(307.58deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(142.42deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-filter: drop-shadow(0px 20px 60px rgba(163, 168, 179, 0.15));
          filter: drop-shadow(0px 20px 60px rgba(163, 168, 179, 0.15));
  border-radius: 24px;
  padding: 40px 30px;
}

.productItem__titleAndImgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}
.productItem__titleAndImgContainer img {
  margin-top: -140px;
}

.titleContainer__supTitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #64646A;
  margin-bottom: 10px;
}

.titleContainer__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;
  color: #1B1B1D;
}

.informationAndOrderContainer__information {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #64646A;
}

.informationAndOrderContainer__orderContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.orderContainer__price {
  font-weight: 500;
  font-size: 30px;
  line-height: 28px;
  color: #1B1B1D;
}

.orderContainer__orderButton {
  padding: 15px 30px;
  background: #1B1B1D;
  border-radius: 126px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.section-5 {
  max-width: 100%;
  padding: 70px 0 0 0;
  background: url("../img/sec-5/sec-5__bg.png") top left no-repeat;
}

.section-5__container {
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
}

.section-5__deliveryAppInformationContainer h2 {
  margin-bottom: 30px;
}
.section-5__deliveryAppInformationContainer p {
  margin-bottom: 80px;
}
.section-5__deliveryAppInformationContainer a {
  padding: 20px 40px;
  background: #1B1B1D;
  border-radius: 126px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.section-5__appIngContainer {
  position: relative;
}
.section-5__appIngContainer::after {
  content: url("../img/sec-5/sec-5__appDecor.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-40%, -50%);
      -ms-transform: translate(-40%, -50%);
          transform: translate(-40%, -50%);
  z-index: -1;
}

.section-6 {
  max-width: 100%;
  position: relative;
  padding: 220px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-6::before {
  content: url("../img/sec-6/sec-6__bg.png");
  position: absolute;
  top: -210px;
  left: 0;
}
.section-6::after {
  content: url("../img/sec-6/sec-6__bg2.png");
  position: absolute;
  bottom: -120px;
  right: 0;
}

.section-6__container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
}

.section-6__sliderContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 810px;
}

.sliderContainer__item {
  max-width: 500px;
  margin-right: 35px;
  background: -o-linear-gradient(307.58deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(142.42deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-filter: drop-shadow(0px 20px 60px rgba(163, 168, 179, 0.15));
          filter: drop-shadow(0px 20px 60px rgba(163, 168, 179, 0.15));
  border-radius: 16px;
}
.sliderContainer__item:last-child {
  margin: 0;
}
.sliderContainer__item .item__img {
  width: 100%;
  margin-bottom: 30px;
}

.item__textContainer {
  width: 390px;
  padding: 0 0 40px 40px;
}
.item__textContainer h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #1B1B1D;
  margin-bottom: 30px;
}
.item__textContainer p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #1B1B1D;
}

.section-6__ratingAndCustomersContainer {
  width: 460px;
}
.section-6__ratingAndCustomersContainer h2 {
  margin-bottom: 50px;
}
.section-6__ratingAndCustomersContainer h2 img {
  padding-left: 20px;
}

.ratingAndCustomersContainer__ratingContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ratingAndCustomersContainer__ratingContainer p {
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
  color: #1B1B1D;
  margin-right: 25px;
}

.ratingContainer__starsAndReviews p {
  margin-top: 5px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #64646A;
}

.footer {
  max-width: 100%;
}

.footer__container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__contactInformationContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactInformationContainer__descriptionContainer {
  width: 560px;
}
.contactInformationContainer__descriptionContainer img {
  margin-bottom: 40px;
  width: 300px;
}

.contactInformationContainer__contactsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactsContainer__title {
  text-align: center;
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  color: #1B1B1D;
}

.contactsContainer__contactsMenu {
  margin-left: -25px;
}

.contactsMenu__menuList li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  color: #64646A;
}
.contactsMenu__menuList li a img {
  margin-bottom: -25px;
}

.contactsMenu__SecondMenuList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactsMenu__SecondMenuList li {
  margin-left: -30px;
}
.contactsMenu__SecondMenuList li:first-child {
  margin: 0;
}

.footer__locationInformationContainer {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.locationInformationContainer__locationTextContainer {
  width: 560px;
}
.locationInformationContainer__locationTextContainer h3 {
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  color: #1B1B1D;
  margin-bottom: 30px;
}
.locationInformationContainer__locationTextContainer p {
  margin-bottom: 30px;
}
.locationInformationContainer__locationTextContainer a {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #1B1B1D;
  padding-right: 35px;
  position: relative;
}
.locationInformationContainer__locationTextContainer a::after {
  content: url("../img/footer/footer__arrow.svg");
  position: absolute;
  right: 0;
  top: -3px;
}

.locationInformationContainer__formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.locationInformationContainer__formContainer h3 {
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  color: #1B1B1D;
  margin-bottom: 30px;
}
.locationInformationContainer__formContainer input {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 12px 30px rgba(205, 209, 214, 0.28);
          box-shadow: 0px 12px 30px rgba(205, 209, 214, 0.28);
  border-radius: 65px;
  padding: 20px 30px;
  width: 100%;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #64646A;
}
.locationInformationContainer__formContainer input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #64646A;
  opacity: 0.7;
}
.locationInformationContainer__formContainer input::-moz-placeholder {
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #64646A;
  opacity: 0.7;
}
.locationInformationContainer__formContainer input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #64646A;
  opacity: 0.7;
}
.locationInformationContainer__formContainer input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #64646A;
  opacity: 0.7;
}
.locationInformationContainer__formContainer input::placeholder {
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #64646A;
  opacity: 0.7;
}
.locationInformationContainer__formContainer button {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #1B1B1D;
  border-radius: 126px;
  padding: 20px 40px;
}

.footer__secondFooter {
  margin-top: 70px;
  padding: 40px 0;
  border-top: 1px solid rgba(163, 168, 179, 0.5);
}

.secondFooter__descriptionsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.secondFooter__descriptionsContainer p {
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #64646A;
}
.secondFooter__descriptionsContainer p span {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #1B1B1D;
}/*# sourceMappingURL=index.css.map */