@charset "UTF-8";
/*---!!ОБНУЛЕНИЕ!!---*/
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -wedkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*------------------------------------------------------*/
body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 400;
  font-family: "Jost";
  background: -o-linear-gradient(276.66deg, #FFFFFF 0%, #FFFFFF 0%, rgba(243, 244, 245, 0.2) 11.74%, #F3F4F5 27.92%, rgba(243, 244, 245, 0) 44.79%, rgba(243, 244, 245, 0.68) 60.42%, #F3F4F5 79.17%, #FFFFFF 100%);
  background: linear-gradient(173.34deg, #FFFFFF 0%, #FFFFFF 0%, rgba(243, 244, 245, 0.2) 11.74%, #F3F4F5 27.92%, rgba(243, 244, 245, 0) 44.79%, rgba(243, 244, 245, 0.68) 60.42%, #F3F4F5 79.17%, #FFFFFF 100%);
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/* Слайдер */
/* Ограничивающая оболочка */
/* Лента слайдов */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
#title {
  font-weight: 800;
  font-size: 64px;
  line-height: 70px;
  color: #1B1B1D;
}

#decription {
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #64646A;
}

.header {
  max-width: 100%;
  padding: 25px 60px;
  background: #EEEFF1;
}

.header__container {
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__navigationContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigationContainer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigationContainer__list li {
  margin-right: 40px;
}
.navigationContainer__list li a {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #1B1B1D;
}

.navigationContainer__shopButtonsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shopButtonsContainer__buttonIco {
  margin-right: 20px;
  padding: 18px;
  border-radius: 50%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 30px 60px rgba(163, 168, 179, 0.15);
          box-shadow: 0px 30px 60px rgba(163, 168, 179, 0.15);
}

.shopButtonsContainer__buttonBuy {
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #1B1B1D;
  -webkit-box-shadow: 0px 30px 60px rgba(163, 168, 179, 0.15);
          box-shadow: 0px 30px 60px rgba(163, 168, 179, 0.15);
  border-radius: 63px;
  padding: 15px 30px;
}

.section-1 {
  max-width: 100%;
  padding: 100px 60px;
  background: #EEEFF1;
}

.section-1__container {
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-1__textContainer {
  width: 610px;
}

.textContainer__title {
  font-weight: 800;
  font-size: 124px;
  line-height: 140px;
  color: #1B1B1D;
  margin-bottom: 30px;
  position: relative;
}
.textContainer__title::after {
  content: "";
  position: absolute;
  background: url("../img/sec-1/sec-1__cafeCountrywide.png") center center/73px no-repeat;
  padding: 29px 37px;
  bottom: 26px;
  right: 100px;
}

.textContainer__buttonContainer {
  margin-top: 60px;
}

.buttonContainer__black {
  margin-right: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #1B1B1D;
  border-radius: 126px;
  padding: 20px 40px;
}

.buttonContainer__white {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #1B1B1D;
  border-bottom: 1px solid #1B1B1D;
}

.section-1__imgContainer {
  position: relative;
}
.section-1__imgContainer::after {
  content: url("../img/sec-1/sec-1__cafeCountrywide.png");
  position: absolute;
  right: 0;
  top: 0;
}

.imgContainer__coffeeCup {
  width: 100%;
  height: 100%;
}

.imgContainer__formContainer {
  position: absolute;
  left: 25px;
  bottom: 200px;
  width: 300px;
}

.formContainer__ratingContainer {
  background: #FFFFFF;
  border-radius: 24px;
  padding: 25px 30px;
  position: relative;
  font-size: 40px;
  display: inline-block;
}
.formContainer__ratingContainer::before {
  content: "★★★★★";
  display: block;
  color: #fff;
}

.rating__items {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  overflow: hidden;
}

.rating__item {
  position: absolute;
  width: 0%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
}

.rating__label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  cursor: pointer;
  color: #000;
}
.rating__label::before {
  content: "★";
  display: block;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
.rating__label .rating__label:hover,
.rating__label .rating__label:hover ~ .rating__label,
.rating__label .rating__label:checked ~ .rating__label:hover {
  color: #ffef9f;
}

.rating__textContainer p {
  font-weight: 400;
  font-size: 19px;
  line-height: 26px;
  color: #64646A;
}

.section-2 {
  max-width: 100%;
  position: relative;
  padding: 150px 0 0;
}
.section-2::before {
  content: url("../img/sec-2/decorationCup.png");
  position: absolute;
  top: 0;
  left: 0;
}

.section-2__container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-2__titleContainer {
  text-align: center;
}
.section-2__titleContainer h2 {
  margin-bottom: 25px;
}
.section-2__titleContainer P {
  margin-bottom: 90px;
}

.section-2__alowishusItemContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.alowishusItemContainer__alowishusItem {
  background: -o-linear-gradient(297.91deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(152.09deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 24px;
  -webkit-filter: drop-shadow(0px 30px 60px rgba(163, 168, 179, 0.15));
          filter: drop-shadow(0px 30px 60px rgba(163, 168, 179, 0.15));
  padding: 40px;
}

.alowishusItem__informationContainer {
  margin-bottom: 60px;
}
.alowishusItem__informationContainer h3 {
  font-weight: 600;
  font-size: 36px;
  line-height: 52px;
  color: #1B1B1D;
  margin-bottom: 10px;
}

.alowishusItem__imgAndButtonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.alowishusItem__imgAndButtonContainer img {
  width: 150px;
  margin-bottom: 60px;
}
.alowishusItem__imgAndButtonContainer a {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #1B1B1D;
  border-radius: 126px;
  padding: 15px 0;
  text-align: center;
  width: 255px;
}

.section-3 {
  max-width: 100%;
  padding: 170px 0;
}

.section-3__container {
  max-width: 1300px;
  padding: 0 30px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 520px;
  grid-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-3__imgContainer img {
  width: 100%;
  height: 100%;
}

.section-3__textContainer h2 {
  margin-bottom: 30px;
}
.section-3__textContainer p {
  margin-bottom: 80px;
}
.section-3__textContainer a {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #1B1B1D;
  border-radius: 126px;
  padding: 20px 40px;
}/*# sourceMappingURL=index.css.map */